# Python Programming

ðŸ”¹ **Welcome to Your Python Journey!**

**Course Overview:**
- **Level:** Beginner to Advanced  
- **Duration:** 4 days (8 hrs each) 
- **Format:** Interactive sessions, hands-on coding, real-world projects

**Why Python?**
- Easy to learn, powerful to use
- Widely used in data science, web development, automation, and more
- Huge community and library support

**What will you learn?**

**1. Programming Basics**
- **Variables**: Declaration, initialization, and usage.
- **Operators**: Arithmetic, comparison, logical, assignment, and bitwise operators.
- **Decision Making**: `if`, `elif`, `else` statements for conditional execution.
- **Iteration**: `for` and `while` loops for repetitive tasks.
- **Sequences**: String manipulation and basic operations with lists.

---

**2. Data Structures in Python**
- **List**: Creation, indexing, slicing, and operations.
- **Tuple**: Immutable sequences, creation, and usage.
- **Set**: Unique elements, set operations like union, intersection, and difference.
- **Dictionary**: Key-value pairs, dictionary methods, and usage.

---

**3. Functions**
- **Function Arguments**: Positional, keyword, default arguments, and variable-length arguments.
- **Lambda Functions**: Anonymous functions, use cases, and syntax.
- **Function Objects**: Passing functions as arguments, returning functions from other functions.
- **Map, Filter, Reduce**: Functional programming tools for processing collections.

---

**4. Exception Handling**
- **Handling Exceptions**: `try`, `except`, `finally`, and `else` clauses.
- **Raising Exceptions**: Custom exceptions and usage.

---

**5. Object Oriented Programming (OOP)**
- **Classes and Objects**: Defining classes, creating objects, and understanding `self`.
- **Attributes and Methods**: Instance variables, class variables, and methods.
- **Inheritance**: Single and multiple inheritance, method overriding.
- **Polymorphism**: Method overloading and operator overloading.
- **Encapsulation**: Private variables and methods, using getters and setters.

---

**6. Regular Expressions**
- **Introduction to Regex**: Basic syntax and usage in Python.
- **Regex Functions**: `re.match()`, `re.search()`, `re.findall()`, `re.sub()`.
- **Common Patterns**: Character classes, quantifiers, groups, and anchors.

---

**7. Connecting to External Data Sources**
- **File Handling**: Reading and writing files (`open`, `read`, `write`, `with` statement).
- **Databases**: Connecting to databases using `sqlite3` or other database connectors.
- **Web APIs**: Fetching data from web APIs using the `requests` library.

---

**8. Requests Library**
- **Introduction to HTTP Requests**: GET, POST, PUT, DELETE methods.
- **Making Requests**: Using `requests` to send HTTP requests and handle responses.
- **Handling JSON Data**: Parsing and processing JSON responses.

<hr><hr>

### Python Interface

A Python interface refers to the means through which you can interact with Python programs, libraries, or external systems. Here are a few different ways you can interface with Python:

**1. Interactive Python Shell (REPL)**
- **Description**: The Python Shell, also known as the Read-Eval-Print Loop (REPL), is an interactive command-line interface where you can type and execute Python commands one at a time. This is useful for quick experiments and debugging.
- **Example**: You can start the Python Shell by simply typing `python` or `python3` in your terminal or command prompt.

**2. Integrated Development Environments (IDEs)**
- **Popular IDEs**: PyCharm, Visual Studio Code, Spyder, Jupyter Notebook.
- **Description**: IDEs provide a comprehensive environment for writing, testing, and debugging Python code. They come with features like syntax highlighting, code completion, version control integration, and more.
- **Example**: PyCharm offers an advanced interface with debugging tools, refactoring support, and integration with version control systems like Git.

**3. Jupyter Notebooks**
- **Description**: Jupyter Notebooks are an interactive web-based environment where you can combine code execution, text, and visualizations in a single document. This is particularly useful for data analysis, machine learning, and teaching.
- **Example**: You can run Jupyter Notebooks by installing the Jupyter package and starting a notebook server with the command `jupyter notebook`.

**4. Command-Line Interface (CLI)**
- **Description**: Python scripts can be executed directly from the command line. You can write Python programs that take command-line arguments and perform tasks based on those arguments.
- **Example**: A Python script named `myscript.py` can be run using `python myscript.py` in the terminal.

**5. Google Colab Notebook**
- Can be access using - https://colab.research.google.com/
- Requires google sign-in

Each of these interfaces serves different purposes and can be chosen based on the specific requirements of your project or task.

<hr><hr>

#### Step-by-step guide to install Python and Visual Studio Code (VS Code) on Windows 11

**Step 1: Install Python**

1. Download Python:

   * Go to the official Python website: [https://www.python.org/downloads/](https://www.python.org/downloads/)
   * Click on the "Download Python" button to get the latest version.

2. Run the Installer:

   * Open the downloaded installer.
   * Check the box that says **"Add Python to PATH"**.
   * Click on **"Install Now"**.

3. Verify Installation:

   * Open Command Prompt.
   * Type `python --version` and press Enter.
   * You should see the installed Python version displayed.

---

**Step 2: Install Visual Studio Code (VS Code)**

1. Download VS Code:

   * Visit the official VS Code website: [https://code.visualstudio.com/download](https://code.visualstudio.com/download)
   * Click on the "Download for Windows" button.

2. Install VS Code:

   * Run the downloaded installer.
   * Follow the setup wizard:

     * Accept the license agreement.
     * Choose the installation location.
     * Select additional tasks (e.g., create a desktop icon, add to PATH).
   * Click **"Install"** to begin the installation.

3. Launch VS Code:

   * After installation, open VS Code from the Start menu or desktop shortcut.

---

**Step 3: Install Python Extension in VS Code**

1. Open Extensions View:

   * In VS Code, click on the Extensions icon on the left sidebar (or press `Ctrl+Shift+X`).

2. Search and Install Python Extension:

   * Type `Python` in the search bar.
   * Locate the extension named **"Python"** by Microsoft.
   * Click **"Install"**.

   This extension provides features like IntelliSense, linting, debugging, and more.&#x20;

---

**Step 4: Install Jupyter Extension in VS Code**

1. Search and Install Jupyter Extension:

   * In the Extensions view (`Ctrl+Shift+X`), type `Jupyter` in the search bar.
   * Find the extension named **"Jupyter"** by Microsoft.
   * Click **"Install"**.

   This extension allows you to work with Jupyter Notebooks directly within VS Code.&#x20;

---

**Step 5: Configure Python Interpreter in VS Code**

1. Open Command Palette:

   * Press `Ctrl+Shift+P` to open the Command Palette.

2. Select Python Interpreter:

   * Type `Python: Select Interpreter` and select it.
   * Choose the Python interpreter you installed earlier (e.g., Python 3.x.x).

   This ensures that VS Code uses the correct Python version for your projects.&#x20;

---

**Step 6: Create and Run a Jupyter Notebook**

1. Create a New Notebook:

   * In VS Code, press `Ctrl+Shift+P` to open the Command Palette.
   * Type `Jupyter: Create New Jupyter Notebook` and select it.

2. Write and Execute Code:

   * In the new notebook, you can add code cells and write Python code.
   * Click the play icon next to each cell to execute it.

   Ensure that the correct Python interpreter is selected for the notebook.&#x20;

---

- **+Code** - adds a code block to the notebook. You can write and execute Python code within this block. press **shift + enter** to execute the code in the cell and move to the next cell. 
- Any text in code cells with **#** at the beginning of the line is treated as a comment and will not be executed. 

- **+Markdown** - adds a markdown block to the notebook. You can write formatted text, including headings, lists, links, and more, using Markdown syntax. Any notes or explanations can be added in markdown cells to enhance the readability of your notebook. **press ESC to exit the cell editing mode.**

In [2]:
# Test if Python is installed and working correctly
print("Hello, Python is working!")

Hello, Python is working!

## **Module 1. Programming Basics**

- **Variables**: Declaration, initialization, and usage.
- **Operators**: Arithmetic, comparison, logical, assignment, and bitwise operators.
- **Decision Making**: `if`, `elif`, `else` statements for conditional execution.
- **Iteration**: `for` and `while` loops for repetitive tasks.
- **Sequences**: String manipulation and basic operations with lists.

<hr>

### Features of Python Programming Language-

Python is a versatile and powerful programming language that is widely used in various fields. Here are some of its key features:

**1. Easy to Learn and Use**
- **Readability**: Python has a clear and easy-to-read syntax which makes it accessible for beginners.
- **Minimal Syntax**: Python code is concise and easy to write, reducing the need for complex boilerplate code.

**2. Interpreted Language**
- **No Compilation**: Python is an interpreted language, meaning you can run the code directly without needing to compile it first.
- **Interactive Mode**: Python provides an interactive mode, allowing you to execute code line by line and test small snippets quickly.

**3. High-Level Language**
- **Abstracted Details**: Python abstracts many low-level details such as memory management, making it easier to focus on the logic of the code.
- **Built-in Data Types**: Python includes powerful built-in data types such as lists, tuples, sets, and dictionaries.

**4. Dynamically Typed**
- **No Explicit Declarations**: Variable types are determined at runtime, eliminating the need for explicit type declarations.
- **Flexibility**: This dynamic typing provides flexibility in coding and faster prototyping.

**5. Extensive Standard Library**
- **Wide Range of Modules**: Python's standard library includes modules for various tasks such as file I/O, system calls, web development, and data manipulation.
- **Out-of-the-Box Functionality**: Many common programming tasks can be accomplished without the need for external libraries.

**6. Cross-Platform Compatibility**
- **Portable**: Python code can run on various operating systems such as Windows, macOS, and Linux without modification.
- **Platform Independence**: Python's platform independence makes it ideal for developing cross-platform applications.

**7. Object-Oriented Programming**
- **Class Support**: Python supports object-oriented programming with classes and inheritance, allowing for modular and reusable code.
- **Encapsulation and Polymorphism**: Python supports encapsulation and polymorphism, essential features for building complex applications.

**8. Large Community and Ecosystem**
- **Active Community**: Python has a large and active community that contributes to its continuous improvement.
- **Rich Ecosystem**: There are numerous third-party libraries and frameworks available, such as NumPy for numerical computing, Pandas for data manipulation, Flask and Django for web development, and TensorFlow and PyTorch for machine learning.

**9. Integration Capabilities**
- **Interoperability**: Python can easily integrate with other languages and technologies, such as C, C++, Java, and .NET.
- **Scripting**: It can be used as a scripting language to automate tasks and enhance the functionality of existing applications.

**10. Strong Support for Data Science and Machine Learning**
- **Data Analysis**: Python is extensively used in data analysis with libraries like Pandas, Matplotlib, and Seaborn.
- **Machine Learning**: Python is a popular choice for machine learning and artificial intelligence with libraries like TensorFlow, Keras, and Scikit-Learn.
  

Python's combination of readability, flexibility, and an extensive ecosystem makes it an excellent choice for both beginners and experienced developers. Whether you're building web applications, data analysis tools, or machine learning models, Python provides the tools and features you need to succeed. 

<hr>

### Python Data Types

Python has several built-in data types that allow you to store and manipulate different kinds of data. Here are the primary data types in Python:

<table style="width: 60%; border-collapse: collapse; border: 1px solid #ccc; text-align: left; margin-left: 0;">
  <thead>
    <tr style="background-color: #050A30; color: white;">
      <th style="border: 1px solid #ccc;">Data Type</th>
      <th style="border: 1px solid #ccc;">Description</th>
      <th style="border: 1px solid #ccc;">Examples</th>
    </tr>
  </thead>
  <tbody style="background-color: white;">
    <tr>
      <td style="border: 1px solid #ccc;">int</td>
      <td style="border: 1px solid #ccc;">Integer numbers</td>
      <td style="border: 1px solid #ccc;">42, -7</td>
    </tr>
    <tr>
      <td style="border: 1px solid #ccc;">float</td>
      <td style="border: 1px solid #ccc;">Floating-point numbers (decimal)</td>
      <td style="border: 1px solid #ccc;">3.14, -0.001</td>
    </tr>
    <tr>
      <td style="border: 1px solid #ccc;">complex</td>
      <td style="border: 1px solid #ccc;">Complex numbers</td>
      <td style="border: 1px solid #ccc;">1+2j, -3+4j</td>
    </tr>
    <tr>
      <td style="border: 1px solid #ccc;">bool</td>
      <td style="border: 1px solid #ccc;">Boolean values</td>
      <td style="border: 1px solid #ccc;">True, False</td>
    </tr>
    <tr>
      <td style="border: 1px solid #ccc;">str</td>
      <td style="border: 1px solid #ccc;">String, a sequence of characters</td>
      <td style="border: 1px solid #ccc;">"hello", 'world'</td>
    </tr>
    <tr>
      <td style="border: 1px solid #ccc;">bytes</td>
      <td style="border: 1px solid #ccc;">Immutable sequence of bytes</td>
      <td style="border: 1px solid #ccc;">b'hello'</td>
    </tr>
  </tbody>
</table>

### Python Containers or Data structures

In Python, containers refer to data structures that hold multiple elements together. They provide a way to manage and organize collections of data. Here are some common types of containers in Python:

<table style="width: 80%; border-collapse: collapse; border: 1px solid #ccc; text-align: left; margin-left: 0;">
  <thead>
    <tr style="background-color: #050A30; color: white;">
      <th style="text-align: left; width: 15%; border: 1px solid #ccc;">Data Structure</th>
      <th style="text-align: left; border: 1px solid #ccc;">Definition</th>
      <th style="text-align: left; border: 1px solid #ccc;">Syntax</th>
      <th style="text-align: left; width: 25%; border: 1px solid #ccc;">Example</th>
    </tr>
  </thead>
  <tbody style="background-color: white;">
    <tr>
      <td style="text-align: left; border: 1px solid #ccc;">List</td>
      <td style="text-align: left; border: 1px solid #ccc;">An ordered, mutable (changeable) collection of items.</td>
      <td style="text-align: left; border: 1px solid #ccc;">Created using square brackets []</td>
      <td style="text-align: left; border: 1px solid #ccc;"><code>[1, 2, 3, 4]</code></td>
    </tr>
    <tr>
      <td style="text-align: left; border: 1px solid #ccc;">Tuple</td>
      <td style="text-align: left; border: 1px solid #ccc;">An ordered, immutable (unchangeable) collection of items.</td>
      <td style="text-align: left; border: 1px solid #ccc;">Created using parentheses ()</td>
      <td style="text-align: left; border: 1px solid #ccc;"><code>(1, 2, 3, 4)</code></td>
    </tr>
    <tr>
      <td style="text-align: left; border: 1px solid #ccc;">Set</td>
      <td style="text-align: left; border: 1px solid #ccc;">An unordered collection of unique items.</td>
      <td style="text-align: left; border: 1px solid #ccc;">Created using curly braces {}</td>
      <td style="text-align: left; border: 1px solid #ccc;"><code>{1, 2, 3, 4}</code></td>
    </tr>
    <tr>
      <td style="text-align: left; border: 1px solid #ccc;">Dictionary</td>
      <td style="text-align: left; border: 1px solid #ccc;">An unordered collection of key-value pairs. Keys must be unique and immutable.</td>
      <td style="text-align: left; border: 1px solid #ccc;">Created using curly braces {} with key-value pairs separated by colons :</td>
      <td style="text-align: left; border: 1px solid #ccc;"><code>{'a': 1, 'b': 2, 'c': 3}</code></td>
    </tr>
  </tbody>
</table>

### Operators in Python

<table style="width: 60%; border-collapse: collapse; border: 1px solid #ccc; text-align: left; margin-left: 0;">
  <thead>
    <tr style="background-color: #050A30; color: white;">
      <th style="width: 15%; border: 1px solid #ccc;">Type</th>
      <th style="width: 15%; border: 1px solid #ccc;">Operator</th>
      <th style="border: 1px solid #ccc;">Description</th>
      <th style="border: 1px solid #ccc;">Example</th>
    </tr>
  </thead>
  <tbody style="background-color: white;">
    <tr><td rowspan="7" style="border: 1px solid #ccc;">Arithmetic</td><td style="border: 1px solid #ccc;">+</td><td style="border: 1px solid #ccc;">Addition</td><td style="border: 1px solid #ccc;">5 + 3 = 8</td></tr>
    <tr><td style="border: 1px solid #ccc;">-</td><td style="border: 1px solid #ccc;">Subtraction</td><td style="border: 1px solid #ccc;">5 - 3 = 2</td></tr>
    <tr><td style="border: 1px solid #ccc;">*</td><td style="border: 1px solid #ccc;">Multiplication</td><td style="border: 1px solid #ccc;">5 * 3 = 15</td></tr>
    <tr><td style="border: 1px solid #ccc;">/</td><td style="border: 1px solid #ccc;">Division</td><td style="border: 1px solid #ccc;">5 / 2 = 2.5</td></tr>
    <tr><td style="border: 1px solid #ccc;">%</td><td style="border: 1px solid #ccc;">Modulus (remainder)</td><td style="border: 1px solid #ccc;">5 % 2 = 1</td></tr>
    <tr><td style="border: 1px solid #ccc;">**</td><td style="border: 1px solid #ccc;">Exponentiation (power)</td><td style="border: 1px solid #ccc;">2 ** 3 = 8</td></tr>
    <tr><td style="border: 1px solid #ccc;">//</td><td style="border: 1px solid #ccc;">Floor division</td><td style="border: 1px solid #ccc;">5 // 2 = 2</td></tr>
    <tr><td rowspan="6" style="border: 1px solid #ccc;">Comparison</td><td style="border: 1px solid #ccc;">==</td><td style="border: 1px solid #ccc;">Equal to</td><td style="border: 1px solid #ccc;">5 == 5 â†’ True</td></tr>
    <tr><td style="border: 1px solid #ccc;">!=</td><td style="border: 1px solid #ccc;">Not equal to</td><td style="border: 1px solid #ccc;">5 != 3 â†’ True</td></tr>
    <tr><td style="border: 1px solid #ccc;">&gt;</td><td style="border: 1px solid #ccc;">Greater than</td><td style="border: 1px solid #ccc;">5 &gt; 3 â†’ True</td></tr>
    <tr><td style="border: 1px solid #ccc;">&lt;</td><td style="border: 1px solid #ccc;">Less than</td><td style="border: 1px solid #ccc;">3 &lt; 5 â†’ True</td></tr>
    <tr><td style="border: 1px solid #ccc;">&gt;=</td><td style="border: 1px solid #ccc;">Greater than or equal to</td><td style="border: 1px solid #ccc;">5 &gt;= 5 â†’ True</td></tr>
    <tr><td style="border: 1px solid #ccc;">&lt;=</td><td style="border: 1px solid #ccc;">Less than or equal to</td><td style="border: 1px solid #ccc;">3 &lt;= 5 â†’ True</td></tr>
    <tr><td rowspan="3" style="border: 1px solid #ccc;">Logical</td><td style="border: 1px solid #ccc;">and</td><td style="border: 1px solid #ccc;">True if both are true</td><td style="border: 1px solid #ccc;">True and False â†’ False</td></tr>
    <tr><td style="border: 1px solid #ccc;">or</td><td style="border: 1px solid #ccc;">True if at least one is true</td><td style="border: 1px solid #ccc;">True or False â†’ True</td></tr>
    <tr><td style="border: 1px solid #ccc;">not</td><td style="border: 1px solid #ccc;">Reverses the result</td><td style="border: 1px solid #ccc;">not True â†’ False</td></tr>
    <tr><td rowspan="8" style="border: 1px solid #ccc;">Assignment</td><td style="border: 1px solid #ccc;">=</td><td style="border: 1px solid #ccc;">Assigns value</td><td style="border: 1px solid #ccc;">x = 5</td></tr>
    <tr><td style="border: 1px solid #ccc;">+=</td><td style="border: 1px solid #ccc;">Add and assign</td><td style="border: 1px solid #ccc;">x += 3 â†’ x = x + 3</td></tr>
    <tr><td style="border: 1px solid #ccc;">-=</td><td style="border: 1px solid #ccc;">Subtract and assign</td><td style="border: 1px solid #ccc;">x -= 2 â†’ x = x - 2</td></tr>
    <tr><td style="border: 1px solid #ccc;">*=</td><td style="border: 1px solid #ccc;">Multiply and assign</td><td style="border: 1px solid #ccc;">x *= 4 â†’ x = x * 4</td></tr>
    <tr><td style="border: 1px solid #ccc;">/=</td><td style="border: 1px solid #ccc;">Divide and assign</td><td style="border: 1px solid #ccc;">x /= 2 â†’ x = x / 2</td></tr>
    <tr><td style="border: 1px solid #ccc;">%=</td><td style="border: 1px solid #ccc;">Modulus and assign</td><td style="border: 1px solid #ccc;">x %= 3 â†’ x = x % 3</td></tr>
    <tr><td style="border: 1px solid #ccc;">//=</td><td style="border: 1px solid #ccc;">Floor divide and assign</td><td style="border: 1px solid #ccc;">x //= 2 â†’ x = x // 2</td></tr>
    <tr><td style="border: 1px solid #ccc;">**=</td><td style="border: 1px solid #ccc;">Exponentiate and assign</td><td style="border: 1px solid #ccc;">x **= 2 â†’ x = x ** 2</td></tr>
    <tr><td rowspan="2" style="border: 1px solid #ccc;">Membership</td><td style="border: 1px solid #ccc;">in</td><td style="border: 1px solid #ccc;">Value exists in sequence</td><td style="border: 1px solid #ccc;">'a' in 'apple' â†’ True</td></tr>
    <tr><td style="border: 1px solid #ccc;">not in</td><td style="border: 1px solid #ccc;">Value not in sequence</td><td style="border: 1px solid #ccc;">'x' not in 'apple' â†’ True</td></tr>
  </tbody>
</table>

#### Examples -

Ex. Define variable name and assign value to the variable

In [10]:
name = "Alice" # Define a variable 'name' and assign the value "Alice" to it
print("Welcome", name) # print the value of the variable 'name' using print() function

Welcome Alice

In [11]:
name = "Alice"
name

'Alice'

**Note -**
- In a python file - always use print() function to display the output of a variable or expression.
- In a Jupyter notebook - you can simply write the variable name in a cell to display its value, or use print() function. Last line of the cell will be automatically displayed as output.

Ex. WAP to take name of user as input and print a welcome message

In [14]:
name = input("Enter your name: ") 
print("Welcome", name)

Welcome Jack

Ex. WAP to take two numbers as input and print their addition

In [15]:
num1 = input("Enter first number: ")
num2 = input("Enter second number: ")
total = num1 + num2 # This will concatenate the two strings instead of adding them as numbers
print(total)

57

In [17]:
# type() - to check the data type of a variable or value
type(num2) # This will show that num1 is of type 'str' (string)
# input() function always returns a string value, even if you enter a number.

str

In [18]:
# Convert the input strings to integers before adding
num1 = int(input("Enter first number: "))
num2 = int(input("Enter second number: "))
total = num1 + num2
print(total)

12

Ex. WAP to accept hours and rate per hour from user and compute gross pay.

In [19]:
hrs = int(input("Enter hours: "))
rate = int(input("Enter rate per hour: "))
gross_pay = hrs * rate
print("Gross Pay:", gross_pay)

Gross Pay: 20000

 Ex. WAP to calculate BMI of a person.

In [21]:
weight = int(input("Enter weight in kgs: "))
height = float(input("Enter height in meters: "))
bmi = round(weight / (height ** 2), 2) # round() function is used to round the BMI value to 2 decimal places
print("BMI:", bmi)

BMI: 21.26

 Ex. WAP to calculate the hypoteneous of a right angled triangle when sides are given

In [22]:
import math
height = 3
base = 4
hypt = math.sqrt(height ** 2 + base ** 2) # math.sqrt() function is used to calculate the square root from math module
print("Hypotenuse:", hypt)

Hypotenuse: 5.0

**Modules in Python -**
- In Python, a module is a file containing Python definitions, functions, and statements.
- Modules allow you to organize your code into separate files, making it easier to manage, reuse, and maintain.

**Built-in Modules -**

Python comes with a standard library of built-in modules that provide useful functions and tools. Some common built-in modules include:

- math: Provides mathematical functions.
- os: Interacts with the operating system.
- sys: Accesses system-specific parameters and functions.
- datetime: Manipulates dates and times.
- random: Provides functions to generate random values

In [24]:
# To list all the built-in functions and modules in Python, you can use the following code:
print(dir(__builtins__)) # This will print a list of all built-in functions and modules available in Python

['ArithmeticError', 'AssertionError', 'AttributeError', 'BaseException', 'BaseExceptionGroup', 'BlockingIOError', 'BrokenPipeError', 'BufferError', 'BytesWarning', 'ChildProcessError', 'ConnectionAbortedError', 'ConnectionError', 'ConnectionRefusedError', 'ConnectionResetError', 'DeprecationWarning', 'EOFError', 'Ellipsis', 'EncodingWarning', 'EnvironmentError', 'Exception', 'ExceptionGroup', 'False', 'FileExistsError', 'FileNotFoundError', 'FloatingPointError', 'FutureWarning', 'GeneratorExit', 'IOError', 'ImportError', 'ImportWarning', 'IndentationError', 'IndexError', 'InterruptedError', 'IsADirectoryError', 'KeyError', 'KeyboardInterrupt', 'LookupError', 'MemoryError', 'ModuleNotFoundError', 'NameError', 'None', 'NotADirectoryError', 'NotImplemented', 'NotImplementedError', 'OSError', 'OverflowError', 'PendingDeprecationWarning', 'PermissionError', 'ProcessLookupError', 'RecursionError', 'ReferenceError', 'ResourceWarning', 'RuntimeError', 'RuntimeWarning', 'StopAsyncIteration', 'StopIteration', 'SyntaxError', 'SyntaxWarning', 'SystemError', 'SystemExit', 'TabError', 'TimeoutError', 'True', 'TypeError', 'UnboundLocalError', 'UnicodeDecodeError', 'UnicodeEncodeError', 'UnicodeError', 'UnicodeTranslateError', 'UnicodeWarning', 'UserWarning', 'ValueError', 'Warning', 'WindowsError', 'ZeroDivisionError', '__IPYTHON__', '__build_class__', '__debug__', '__doc__', '__import__', '__loader__', '__name__', '__package__', '__spec__', 'abs', 'aiter', 'all', 'anext', 'any', 'ascii', 'bin', 'bool', 'breakpoint', 'bytearray', 'bytes', 'callable', 'chr', 'classmethod', 'compile', 'complex', 'copyright', 'credits', 'delattr', 'dict', 'dir', 'display', 'divmod', 'enumerate', 'eval', 'exec', 'execfile', 'filter', 'float', 'format', 'frozenset', 'get_ipython', 'getattr', 'globals', 'hasattr', 'hash', 'help', 'hex', 'id', 'input', 'int', 'isinstance', 'issubclass', 'iter', 'len', 'license', 'list', 'locals', 'map', 'max', 'memoryview', 'min', 'next', 'object', 'oct', 'open', 'ord', 'pow', 'print', 'property', 'range', 'repr', 'reversed', 'round', 'runfile', 'set', 'setattr', 'slice', 'sorted', 'staticmethod', 'str', 'sum', 'super', 'tuple', 'type', 'vars', 'zip']

In [25]:
import sys
print(sys.builtin_module_names) # This will print a tuple of all built-in module names available in Python

('_abc', '_ast', '_bisect', '_blake2', '_codecs', '_codecs_cn', '_codecs_hk', '_codecs_iso2022', '_codecs_jp', '_codecs_kr', '_codecs_tw', '_collections', '_contextvars', '_csv', '_datetime', '_functools', '_heapq', '_imp', '_io', '_json', '_locale', '_lsprof', '_md5', '_multibytecodec', '_opcode', '_operator', '_pickle', '_random', '_sha1', '_sha2', '_sha3', '_signal', '_sre', '_stat', '_statistics', '_string', '_struct', '_symtable', '_thread', '_tokenize', '_tracemalloc', '_typing', '_warnings', '_weakref', '_winapi', '_xxinterpchannels', '_xxsubinterpreters', 'array', 'atexit', 'audioop', 'binascii', 'builtins', 'cmath', 'errno', 'faulthandler', 'gc', 'itertools', 'marshal', 'math', 'mmap', 'msvcrt', 'nt', 'sys', 'time', 'winreg', 'xxsubtype', 'zlib')

In [26]:
# To display all the functions in a specific module, you can use the following code:
import math
print(dir(math)) # This will print a list of all functions and attributes available in the math module

['__doc__', '__loader__', '__name__', '__package__', '__spec__', 'acos', 'acosh', 'asin', 'asinh', 'atan', 'atan2', 'atanh', 'cbrt', 'ceil', 'comb', 'copysign', 'cos', 'cosh', 'degrees', 'dist', 'e', 'erf', 'erfc', 'exp', 'exp2', 'expm1', 'fabs', 'factorial', 'floor', 'fmod', 'frexp', 'fsum', 'gamma', 'gcd', 'hypot', 'inf', 'isclose', 'isfinite', 'isinf', 'isnan', 'isqrt', 'lcm', 'ldexp', 'lgamma', 'log', 'log10', 'log1p', 'log2', 'modf', 'nan', 'nextafter', 'perm', 'pi', 'pow', 'prod', 'radians', 'remainder', 'sin', 'sinh', 'sqrt', 'sumprod', 'tan', 'tanh', 'tau', 'trunc', 'ulp']

In [27]:
a = 10
b = 20
c = a + b
print("Addition of", a, "and", b, "is", c)

Addition of 10 and 20 is 30

In [30]:
f"Addition of {a} and {b} is {c}" # Using f-string to create a formatted string that includes the values of a, b, and c in the output.
# Create a str object

'Addition of 10 and 20 is 30'

In [31]:
print(f"Addition of {a} and {b} is {c}")

Addition of 10 and 20 is 30

 Ex. Convert the sales value in thousands and concate `k` as suffix

In [37]:
sales = 12587  # output - $12.59k
sales_in_k = f"${round(sales/1000,2)}k"
print(sales_in_k)

$12.59k

**Formatted Strings -** Introduced in Python 3.6, f-strings provide a more concise and readable way to format strings. You can include variables or expressions inside curly braces {} prefixed with an f.

<hr><hr>

## Decision Making

Decision-making statements in Python allow you to control the flow of execution based on certain conditions. These statements include if, elif, and else and can be used to execute different blocks of code depending on whether conditions are True or False.

<table style="width: 100%; border-collapse: collapse; border: 1px solid #ccc; text-align: left; margin-left: 0;">
  <thead>
    <tr style="background-color: #050A30; color: white;">
      <th style="width: 10%; border: 1px solid #ccc;">Name</th>
      <th style="width: 25%; border: 1px solid #ccc;">Description</th>
      <th style="width: 25%; border: 1px solid #ccc;">Syntax</th>
      <th style="border: 1px solid #ccc;">Example</th>
    </tr>
  </thead>
  <tbody style="background-color: white;">
    <tr>
      <td style="border: 1px solid #ccc;"><strong>Basic if Statement</strong></td>
      <td style="border: 1px solid #ccc;">
        The <code>if</code> statement evaluates a condition and executes a block of code if the condition is <code>True</code>.
      </td>
      <td style="border: 1px solid #ccc;">
        <pre><code>if condition:
    # block of code</code></pre>
      </td>
      <td style="border: 1px solid #ccc;">
        <pre><code>x = 10
if x > 5:
    print("x is greater than 5")</code></pre>
      </td>
    </tr>
    <tr>
      <td style="border: 1px solid #ccc;"><strong>if-else Statement</strong></td>
      <td style="border: 1px solid #ccc;">
        Evaluates a condition and executes one block of code if the condition is <code>True</code>, and another block if the condition is <code>False</code>.
      </td>
      <td style="border: 1px solid #ccc;">
        <pre><code>if condition:
    # block if True
else:
    # block if False</code></pre>
      </td>
      <td style="border: 1px solid #ccc;">
        <pre><code>x = 3
if x % 2 == 0:
    print("Even")
else:
    print("Odd")</code></pre>
      </td>
    </tr>
    <tr>
      <td style="border: 1px solid #ccc;"><strong>if-elif-else Statement</strong></td>
      <td style="border: 1px solid #ccc;">
        Allows checking multiple expressions for <code>True</code> and executes the first matching block. If none match, the <code>else</code> block is executed.
      </td>
      <td style="border: 1px solid #ccc;">
        <pre><code>if condition1:
    # block 1
elif condition2:
    # block 2
elif condition3:
    # block 3
else:
    # default block</code></pre>
      </td>
      <td style="border: 1px solid #ccc;">
        <pre><code>score = 85
if score >= 90:
    print("Grade A")
elif score >= 75:
    print("Grade B")
else:
    print("Grade C")</code></pre>
      </td>
    </tr>
    <tr>
      <td style="border: 1px solid #ccc;"><strong>Nested if Statements</strong></td>
      <td style="border: 1px solid #ccc;">
        You can nest <code>if</code> statements within other <code>if</code> statements to check multiple conditions in a hierarchical manner.
      </td>
      <td style="border: 1px solid #ccc;">
        <pre><code>if condition1:
    if condition2:
        # block 2
    else:
        # block 3
else:
    # block 4</code></pre>
      </td>
      <td style="border: 1px solid #ccc;">
        <pre><code>x = 10
y = 5
if x > 5:
    if y > 3:
        print("x > 5 and y > 3")
    else:
        print("x > 5 but y <= 3")
else:
    print("x <= 5")</code></pre>
      </td>
    </tr>
    <tr>
      <td style="border: 1px solid #ccc;"><strong>One-Line if-else</strong></td>
      <td style="border: 1px solid #ccc;">
        A compact form of <code>if-else</code> used for simple conditional expressions.
      </td>
      <td style="border: 1px solid #ccc;">
        <pre><code>value_if_true if condition else value_if_false</code></pre>
      </td>
      <td style="border: 1px solid #ccc;">
        <pre><code>x = 10
result = "Even" if x % 2 == 0 else "Odd"
print(result)</code></pre>
      </td>
    </tr>
  </tbody>
</table>

#### Examples -

 Ex. WAP to check if entered number is positive or negative

In [40]:
num = int(input("Enter a number: "))
if num > 0 :
    print(f"The number {num} is positive.")
else:
    print(f"The number {num} is negative.")

The number 4 is positive.

**Note -** Any block like if, else, for, while, always starts with a colon (:) and the code inside the block should be indented. Indentation is important in Python as it defines the scope of the block.

 Ex. WAP to accept hours and rate per hour from user and compute gross pay.
- for 40 hrs pay the standard rate
- if overtime then pay 1.5 times of rate for the additional hrs.

In [43]:
hrs = int(input("Enter hours: "))
rate = int(input("Enter rate per hour: "))
if hrs <= 40:
    gross_pay = hrs * rate
else:
    gross_pay = (40 * rate) + ((hrs - 40) * rate * 1.5)
print(f"For {hrs} hours at a rate of {rate} per hour, the gross pay is: {gross_pay}")

For 45 hours at a rate of 1000 per hour, the gross pay is: 47500.0

 Ex. WAP to accept a single character from user and check if it is a vowel or not.

In [49]:
ch = input("Enter a character: ") 
if ch.lower() in ['a', 'e', 'i', 'o', 'u']: # str method lower() is used to convert the input character to lowercase
    print(f"The character '{ch}' is a vowel.")
else:
    print(f"The character '{ch}' is a consonant.")

The character 'A' is a vowel.

**Ex. Toss a coin and guess the outcome**

1. Take guess as input from user as heads or tails; save the input in a variuable `guess`.
2. Check if the input is valid (either heads or tails). If not, print "Invalid input" and exit.
3. For valid input, genearte a random outcome of the coin toss (either heads or tails) and save it in a variable `outcome`.
4. Compare the `guess` with the `outcome` and print "You win!" if they match, otherwise print "You lose!".

In [55]:
import random as rnd
guess = input("Enter your guess (heads/tails): ").lower() 
options = ['heads', 'tails']
if guess in options:
    outcome = rnd.choice(options) # rnd.choice() function is used to randomly select an outcome from the options list
    print(f"The coin toss outcome is: {outcome}")
    if guess == outcome:
        print("You win!")
    else:
        print("You lose!")
else:
    print("Invalid input")

The coin toss outcome is: heads
You lose!

In [53]:
import random
print(dir(random))

['BPF', 'LOG4', 'NV_MAGICCONST', 'RECIP_BPF', 'Random', 'SG_MAGICCONST', 'SystemRandom', 'TWOPI', '_ONE', '_Sequence', '__all__', '__builtins__', '__cached__', '__doc__', '__file__', '__loader__', '__name__', '__package__', '__spec__', '_accumulate', '_acos', '_bisect', '_ceil', '_cos', '_e', '_exp', '_fabs', '_floor', '_index', '_inst', '_isfinite', '_lgamma', '_log', '_log2', '_os', '_pi', '_random', '_repeat', '_sha512', '_sin', '_sqrt', '_test', '_test_generator', '_urandom', '_warn', 'betavariate', 'binomialvariate', 'choice', 'choices', 'expovariate', 'gammavariate', 'gauss', 'getrandbits', 'getstate', 'lognormvariate', 'normalvariate', 'paretovariate', 'randbytes', 'randint', 'random', 'randrange', 'sample', 'seed', 'setstate', 'shuffle', 'triangular', 'uniform', 'vonmisesvariate', 'weibullvariate']

 Ex. 7up and 7down

WAP to simulate the below mentioned scenario -

1. Player enters the game with initial amount as Rs. 1,000/- 
2. Generate a random value between 1 to 14 and store it in variable "outcome"
3. if outcome = 7, player hits a jackpot and wins Rs. 1,00,00,000.
4. if outcome < 7, player looses amount by (outcome*100)
5. if outcome > 7, player earns amount by (outcome*100)
6. Print the final amount with the player.

In [58]:
import random as rnd
amount = 1000
outcome = rnd.randint(1, 14)
print("Your score is:", outcome)
if outcome > 7:
    amount += (outcome * 100) # amount = amount + (outcome * 100) 
elif outcome < 7:
    amount -= (outcome * 100) # amount = amount - (outcome * 100)
else:
    print("Congratulations! You hit the jackpot!!!")
    amount += 1000000

print("Final amount after the game is:", amount)

Your score is: 11
Final amount after the game is: 2100

<hr><hr>

## Iteration

**What is Iteration?**  
Iteration is the process of executing a set of statements repeatedly until a specific condition is met. In Python, iteration is a fundamental concept used to perform repetitive tasks efficiently.

**Why Use Iteration?**

- Automates repetitive tasks  
- Simplifies code  
- Enhances efficiency and readability  
- Essential for data processing, automation, and algorithm implementation

#### Python Loops

<table style="width: 80%; border-collapse: collapse; border: 1px solid #ccc; text-align: left; margin-left: 0;">
  <thead>
    <tr style="background-color: #050A30; color: white;">
      <th style="width: 15%; border: 1px solid #ccc;">Name</th>
      <th style="width: 25%; border: 1px solid #ccc;">Description</th>
      <th style="width: 20%; border: 1px solid #ccc;">Syntax</th>
      <th style="border: 1px solid #ccc;">Example</th>
    </tr>
  </thead>
  <tbody style="background-color: white;">
    <tr>
      <td style="border: 1px solid #ccc;"><strong>while loop</strong><br></td>
      <td style="border: 1px solid #ccc;">
        <ul>
          <li>Used to iterate as long as the condition is true.</li>
          <li>Event-based loop.</li>
          <li>Number of iterations is not known beforehand.</li>
        </ul>
      </td>
      <td style="border: 1px solid #ccc;">
        <pre><code>while condition:
    # code block</code></pre>
      </td>
      <td style="border: 1px solid #ccc;">
<pre><code># Event-based: wait for user input
user_input = ""
while user_input != "exit":
    user_input = input("Type 'exit' to quit: ")
print("Exited loop.")</code></pre>
      </td>
    </tr>
    <tr>
      <td style="border: 1px solid #ccc;"><strong>for loop</strong><br></td>
      <td style="border: 1px solid #ccc;">
        <ul>
          <li>Iterates over items in a sequence.</li>
          <li>Counter-driven loop.</li>
          <li>Number of iterations is predefined.</li>
        </ul>
      </td>
      <td style="border: 1px solid #ccc;">
        <pre><code>for item in sequence:
    # code block</code></pre>
      </td>
      <td style="border: 1px solid #ccc;">
<pre><code># Counter-based: print even numbers from 2 to 10
for i in range(2, 11, 2):
    print(i)</code></pre>
      </td>
    </tr>
  </tbody>
</table>

#### Python Loop Control Statements

<table style="width: 80%; border-collapse: collapse; border: 1px solid #ccc; text-align: left; margin-left: 0;">
  <thead>
    <tr style="background-color: #050A30; color: white;">
      <th style="width: 10%; border: 1px solid #ccc;">Name</th>
      <th style="width: 30%; border: 1px solid #ccc;">Description</th>
      <th style="border: 1px solid #ccc;">Syntax</th>
      <th style="border: 1px solid #ccc;">Example</th>
    </tr>
  </thead>
  <tbody style="background-color: white;">
    <tr>
      <td style="border: 1px solid #ccc;"><strong>break</strong></td>
      <td style="border: 1px solid #ccc;">
        <ul>
          <li>Ends the loop and resumes execution at the next statement.</li>
          <li>Can be used in both <code>while</code> and <code>for</code> loops.</li>
          <li>Always used with conditional statements.</li>
        </ul>
      </td>
      <td style="border: 1px solid #ccc;">
        <pre><code>for item in sequence:
    if condition:
        break
    # code block</code></pre>
      </td>
      <td style="border: 1px solid #ccc;">
        <pre><code># Stop loop when number is 5
for i in range(1, 10):
    if i == 5:
        break
    print(i)</code></pre>
      </td>
    </tr>
    <tr>
      <td style="border: 1px solid #ccc;"><strong>continue</strong></td>
      <td style="border: 1px solid #ccc;">
        <ul>
          <li>Skips the rest of the code inside the loop for the current iteration.</li>
          <li>Moves control back to the beginning of the loop.</li>
          <li>Can be used in both <code>while</code> and <code>for</code> loops.</li>
          <li>Always used with conditional statements.</li>
        </ul>
      </td>
      <td style="border: 1px solid #ccc;">
        <pre><code>for item in sequence:
    if condition:
        continue
    # code block</code></pre>
      </td>
      <td style="border: 1px solid #ccc;">
        <pre><code># Skip number 5
for i in range(1, 8):
    if i == 5:
        continue
    print(i)</code></pre>
      </td>
    </tr>
  </tbody>
</table>

#### Examples -

 Ex. Modify the 7up 7down program based on following rules - 

- Ask user his choice to play again as `yes/no`.
- First round starts with amount balance as Rs. 1000. However, further rounds will be played on the balance amount generated from previous round. Example - in round 1 user earned Rs. 800. So for his next round amount will be Rs. 1,800 which is balance generated in previous round.
- The game will terminate if user -
    - choice to play again is `no`
    - hits the `jackpot`
    - has insufficient funds to play the next round.

In [70]:
import random as rnd
choice = "yes"
amount = 1000

while choice.lower() == "yes":
    outcome = rnd.randint(1, 14)
    print("Your score is:", outcome)
    if outcome > 7:
        amount += (outcome * 100) # amount = amount + (outcome * 100) 
    elif outcome < 7:
        amount -= (outcome * 100) # amount = amount - (outcome * 100)
    else:
        print("Congratulations! You hit the jackpot!!!")
        amount += 1000000
        break
    
    if amount < 600:
        print("You don't have enough amount to continue playing. Your current amount is:", amount)
        print("If you want to play again, please top-up your account with 1000.")
        choice = input("Do you want to top-up and play again? (yes/no): ")
        if choice.lower() == "yes":
            amount += 1000
            continue
        break    

    print("Current amount after the game is:", amount)
    choice = input("Do you want to play again? (yes/no): ")

print("Final amount after the game is:", amount)

Your score is: 2
Current amount after the game is: 800
Your score is: 6
You don't have enough amount to continue playing. Your current amount is: 200
If you want to play again, please top-up your account with 1000.
Your score is: 7
Congratulations! You hit the jackpot!!!
Final amount after the game is: 1001200

 Ex. WAP to print square of numbers in the given list

In [73]:
numbers = [1, 2, 3, 4, 5]

for num in numbers:
    print(num, end = ", ") # end = "<delimiter>" is used to specify the string that will be printed at the end of each output

1, 2, 3, 4, 5,

In [74]:
for num in numbers:
    print(num, " - ", num**2)

1  -  1
2  -  4
3  -  9
4  -  16
5  -  25

In [75]:
# Print square of even numbers in the list
numbers = [45, 23, 12, 8, 65, 34, 56, 77]
for num in numbers:
    if num % 2 == 0 :
        print(num, " - ", num**2)

12  -  144
8  -  64
34  -  1156
56  -  3136

 Ex. WAP to accept a word from user and print vowels in the word

In [76]:
word = input("Enter a word: ")
# print all the vowels in the word - for loop to check each character in the word and print if it is a vowel
for ch in word:
    if ch in "aeiou" :
        print(ch, end = " ")

i a o e

**`Utility Function` - range(`start`, `stop`, `step`)**

The range() function in Python is used to generate a sequence of numbers. It is commonly used in for-loops to iterate over a sequence of numbers.
Key Characteristics:

- Returns an immutable sequence of numbers.
- Often used for looping a specific number of times.
- Can take 1 to 3 arguments:
    - `range(stop)` â€“ generates numbers from 0 to stop - 1.
    - `range(start, stop)` â€“ generates numbers from start to stop - 1.
    - `range(start, stop, step)` â€“ generates numbers from start to stop - 1, incrementing by step.

 Ex. WAP to perform summation and product of first 10 natural numbers

In [77]:
number = [1, 2, 3, 4, 5, 6, 7, 8, 9, 10]
sum(number) # sum() function is used to calculate the sum of all the numbers in the list

55

In [ ]:
range(1, 11) # output of range() is sequence object and is not readable, we need to convert it to a list to see the numbers

range(1, 11)

In [ ]:
list(range(1, 11)) # convert the sequence object which are non-readable to a list to see the values

[1, 2, 3, 4, 5, 6, 7, 8, 9, 10]

In [80]:
sum(range(1, 11))

55

In [81]:
import math
math.prod(range(1, 11))

3628800

In [82]:
for i in range(11):         # generates numbers from 0 to 10, start is 0 by default and end is 11 (exclusive)
    print(i, end = ", ")

0, 1, 2, 3, 4, 5, 6, 7, 8, 9, 10,

In [83]:
for i in range(1, 11):  # generates numbers from 1 to 10, start is 1 and end is 11 (exclusive)
    print(i, end = ", ")

1, 2, 3, 4, 5, 6, 7, 8, 9, 10,

In [84]:
for i in range(1, 11, 2):  # generates numbers from 1 to 10, start is 1 and end is 11 (exclusive), step is 2 (generates odd numbers)
    print(i, end = ", ")

1, 3, 5, 7, 9,

In [85]:
for i in range(10, 1, -1):  # generates numbers from 10 to 2, start is 10 and end is 1 (exclusive), 
    print(i, end= ", ")                        #   step is -1 (generates numbers in reverse order)

10, 9, 8, 7, 6, 5, 4, 3, 2,

 WAP to take a number as input and print the multiplication table of the number

In [ ]:
3 x 1 = 3
3 x 2 = 6
.
.
3 x 10 = 30

 Ex. WAP to calculate total amount credited to the account and total amount debited from account based on following transactions -

In [ ]:
transactions = [2000, -500, 1500, -1200, -100, 3000]
c_amt = d_amt = 0
for num in transactions:
    if num > 0 :
        c_amt = c_amt + num
    else:
        d_amt -= num
print(f"Total amount credited : {c_amt} and total amount debited : {d_amt}")

Total amount credited : 6500 and total amount debited : 1800

In [96]:
import random as rnd
rnd.choice(1011122)

TypeError: object of type 'int' has no len()

In [95]:
help(rnd.choice)

Help on method choice in module random:

choice(seq) method of random.Random instance
    Choose a random element from a non-empty sequence.

In [98]:
for i in 102354:
    print(i)

TypeError: 'int' object is not iterable

<br><br>
<hr><hr>

## Module 2: Python Sequences and Containers

#### ðŸ”¹ Sequences
- Sequences are **collections** of elements.
- Common sequence types include:  
  `str`, `list`, `tuple`, `dict`, `set`, `range()`, `enumerate()`, `zip()`, `map()`, `filter()`

#### ðŸ”¹ Ordered/Indexed Sequences
- Ordered sequences maintain the order of elements and allow indexing.
- All ordered sequences follow rules of generic sequences, but not all iterables are ordered sequences.
- Examples: 
  `str`, `list`, `tuple`, `range()`

#### ðŸ”¹ Container Sequences
- Containers are **data structures** that can hold multiple objects.
- All container types are also sequences, but not all sequences are containers.
- Examples of container types:  
  `list`, `tuple`, `dict`, `set`

#### ðŸ”¹ Additional Notes
- Functions like `range()`, `enumerate()`, `zip()`, `map()`, and `filter()` return **iterators**, which produce values on demand and may not display readable output directly.
##### - **Any sequence or iterable** can be converted to a list or tuple using `list()` or `tuple()` functions for easier readability and manipulation.

#### Operations on Sequences based on their categories

<table style="width: 80%; border-collapse: collapse; border: 1px solid #ccc; text-align: left; margin-left: 0;">
  <thead>
    <tr style="background-color: #050A30; color: white;">
      <th style="width: 15%; border: 1px solid #ccc;">Category</th>
      <th style="width: 10%; border: 1px solid #ccc;">Operation</th>
      <th style="width: 25%; border: 1px solid #ccc;">Syntax</th>
      <th style="border: 1px solid #ccc;">Example</th>
    </tr>
  </thead>
  <tbody style="background-color: white;">
    <tr>
      <td rowspan="2" style="border: 1px solid #ccc;"><strong>Generic Sequences</strong></td>
      <td style="border: 1px solid #ccc;">Membership</td>
      <td style="border: 1px solid #ccc;"><code>in</code>, <code>not in</code></td>
      <td style="border: 1px solid #ccc;"><pre><code>'a' in 'apple'  # True
10 not in [1, 2, 3]  # True</code></pre></td>
    </tr>
    <tr>
      <td style="border: 1px solid #ccc;">Iteration</td>
      <td style="border: 1px solid #ccc;"><code>for item in sequence</code></td>
      <td style="border: 1px solid #ccc;"><pre><code>for char in 'hello':
    print(char)</code></pre></td>
    </tr>
    <tr>
      <td rowspan="4" style="border: 1px solid #ccc;"><strong>Ordered / Indexed Sequences</strong></td>
      <td style="border: 1px solid #ccc;">Indexing</td>
      <td style="border: 1px solid #ccc;"><code>sequence[index]</code></td>
      <td style="border: 1px solid #ccc;"><pre><code>my_list = [10, 20, 30]
print(my_list[1])  # Output: 20</code></pre></td>
    </tr>
    <tr>
      <td style="border: 1px solid #ccc;">Slicing</td>
      <td style="border: 1px solid #ccc;"><code>sequence[start:stop]</code></td>
      <td style="border: 1px solid #ccc;"><pre><code>my_list = [10, 20, 30, 40, 50]
print(my_list[1:4])  # Output: [20, 30, 40]</code></pre></td>
    </tr>
    <tr>
      <td style="border: 1px solid #ccc;">Concatenation</td>
      <td style="border: 1px solid #ccc;"><code>sequence1 + sequence2</code></td>
      <td style="border: 1px solid #ccc;"><pre><code>[1, 2] + [3, 4]  # Output: [1, 2, 3, 4]</code></pre></td>
    </tr>
    <tr>
      <td style="border: 1px solid #ccc;">Repetition</td>
      <td style="border: 1px solid #ccc;"><code>sequence * n</code></td>
      <td style="border: 1px solid #ccc;"><pre><code>[1, 2] * 3  # Output: [1, 2, 1, 2, 1, 2]</code></pre></td>
    </tr>
  </tbody>
</table>

#### Python Built-in Functions for Sequences

<table style="width: 80%; border-collapse: collapse; border: 1px solid #ccc; text-align: left; margin-left: 0;">
  <thead>
    <tr style="background-color: #050A30; color: white;">
      <th style="width: 10%; border: 1px solid #ccc;">Name</th>
      <th style="width: 40%; border: 1px solid #ccc;">Description</th>
      <th style="width: 20%; border: 1px solid #ccc;">Syntax</th>
      <th style="width: 30%; border: 1px solid #ccc;">Example</th>
    </tr>
  </thead>

  <tbody style="background-color: white;">
    <tr>
      <td style="border: 1px solid #ccc;"><strong>len()</strong></td>
      <td style="border: 1px solid #ccc;">Returns the number of elements in the sequence.</td>
      <td style="border: 1px solid #ccc;"><code>len(sequence)</code></td>
      <td style="border: 1px solid #ccc;"><pre><code>len([1, 2, 3, 4]) <br> # Output: 4</code></pre></td>
    </tr>
    <tr>
      <td style="border: 1px solid #ccc;"><strong>max()</strong></td>
      <td style="border: 1px solid #ccc;">Returns the largest element in the sequence.</td>
      <td style="border: 1px solid #ccc;"><code>max(sequence)</code></td>
      <td style="border: 1px solid #ccc;"><pre><code>max([3, 7, 2, 9]) <br> # Output: 9</code></pre></td>
    </tr>
    <tr>
      <td style="border: 1px solid #ccc;"><strong>min()</strong></td>
      <td style="border: 1px solid #ccc;">Returns the smallest element in the sequence.</td>
      <td style="border: 1px solid #ccc;"><code>min(sequence)</code></td>
      <td style="border: 1px solid #ccc;"><pre><code>min([3, 7, 2, 9]) <br> # Output: 2</code></pre></td>
    </tr>
    <tr>
      <td style="border: 1px solid #ccc;"><strong>sum()</strong></td>
      <td style="border: 1px solid #ccc;">Returns the sum of all elements in a numeric sequence.</td>
      <td style="border: 1px solid #ccc;"><code>sum(sequence)</code></td>
      <td style="border: 1px solid #ccc;"><pre><code>sum([1, 2, 3, 4]) <br> # Output: 10</code></pre></td>
    </tr>
    <tr>
      <td style="border: 1px solid #ccc;"><strong>math.prod()</strong></td>
      <td style="border: 1px solid #ccc;">Returns the product of all elements in a numeric sequence. Requires importing the <code>math</code> module.</td>
      <td style="border: 1px solid #ccc;"><code>math.prod(sequence)</code></td>
      <td style="border: 1px solid #ccc;"><pre><code>import math
math.prod([1, 2, 3, 4]) <br> # Output: 24</code></pre></td>
    </tr>
    <tr>
      <td style="border: 1px solid #ccc;"><strong>sorted()</strong></td>
      <td style="border: 1px solid #ccc;">Sorts the elements in ascending order and returns a new list object.</td>
      <td style="border: 1px solid #ccc;"><code>sorted(sequence)</code></td>
      <td style="border: 1px solid #ccc;"><pre><code>sorted([4, 1, 3, 2]) <br> # Output: [1, 2, 3, 4]</code></pre></td>
    </tr>
  </tbody>
</table>

#### Python Containers - Cheatsheet

   
<table style="width: 100%; border-collapse: collapse; border: 1px solid #ccc; text-align: center;">
  <thead>
    <tr style="background-color: #050A30; color: white;">
      <th style="border: 1px solid #ccc; padding: 8px;">Object</th>
      <th style="border: 1px solid #ccc; padding: 8px;">Container Object</th>
      <th style="border: 1px solid #ccc; padding: 8px;">Sequence Type</th>
      <th style="border: 1px solid #ccc; padding: 8px;">Element Type</th>
      <th style="border: 1px solid #ccc; padding: 8px;">Enclosed in</th>
      <th style="border: 1px solid #ccc; padding: 8px;">Immutability</th>
      <th style="border: 1px solid #ccc; padding: 8px;">Duplicates</th>
    </tr>
  </thead>
  <tbody>
    <tr>
      <td style="border: 1px solid #ccc; padding: 8px;">str()</td>
      <td style="border: 1px solid #ccc; padding: 8px;">No</td>
      <td style="border: 1px solid #ccc; padding: 8px;">ordered/indexed</td>
      <td style="border: 1px solid #ccc; padding: 8px;">characters</td>
      <td style="border: 1px solid #ccc; padding: 8px;">"" or ''</td>
      <td style="border: 1px solid #ccc; padding: 8px;">Yes</td>
      <td style="border: 1px solid #ccc; padding: 8px;">Yes</td>
    </tr>
    <tr>
      <td style="border: 1px solid #ccc; padding: 8px;">tuple()</td>
      <td style="border: 1px solid #ccc; padding: 8px;">Yes</td>
      <td style="border: 1px solid #ccc; padding: 8px;">ordered/indexed</td>
      <td style="border: 1px solid #ccc; padding: 8px;">mixed data (heterogeneous)</td>
      <td style="border: 1px solid #ccc; padding: 8px;">()</td>
      <td style="border: 1px solid #ccc; padding: 8px;">Yes</td>
      <td style="border: 1px solid #ccc; padding: 8px;">Yes</td>
    </tr>
    <tr>
      <td style="border: 1px solid #ccc; padding: 8px;">list()</td>
      <td style="border: 1px solid #ccc; padding: 8px;">Yes</td>
      <td style="border: 1px solid #ccc; padding: 8px;">ordered/indexed</td>
      <td style="border: 1px solid #ccc; padding: 8px;">mixed data (heterogeneous)</td>
      <td style="border: 1px solid #ccc; padding: 8px;">[]</td>
      <td style="border: 1px solid #ccc; padding: 8px;">No</td>
      <td style="border: 1px solid #ccc; padding: 8px;">Yes</td>
    </tr>
    <tr>
      <td style="border: 1px solid #ccc; padding: 8px;">set()</td>
      <td style="border: 1px solid #ccc; padding: 8px;">Yes</td>
      <td style="border: 1px solid #ccc; padding: 8px;">unordered</td>
      <td style="border: 1px solid #ccc; padding: 8px;">heterogeneous (immutable objects)</td>
      <td style="border: 1px solid #ccc; padding: 8px;">{}</td>
      <td style="border: 1px solid #ccc; padding: 8px;">No</td>
      <td style="border: 1px solid #ccc; padding: 8px;">No</td>
    </tr>
    <tr>
      <td style="border: 1px solid #ccc; padding: 8px;">dict()</td>
      <td style="border: 1px solid #ccc; padding: 8px;">Yes</td>
      <td style="border: 1px solid #ccc; padding: 8px;">unordered</td>
      <td style="border: 1px solid #ccc; padding: 8px;">Key - immutable<br>Value - any type</td>
      <td style="border: 1px solid #ccc; padding: 8px;">{}</td>
      <td style="border: 1px solid #ccc; padding: 8px;">No</td>
      <td style="border: 1px solid #ccc; padding: 8px;">Key - No<br>Value - Yes</td>
    </tr>

##### Note 
- bool() of an empty sequence is always `False`
- Immutability - An immutable object cannot be changed after it is created. For example, strings and tuples are immutable, while lists and dictionaries are mutable.

### Examples on Strings in Python

#### Indexing in Strings
- Each character in a string has a unique index, starting from 0 for the first character up to n-1 for the last character, where n is the length of the string.

- **Positive Indexing** - Positive indexing starts from 0 and goes up to n-1.
    - Index 0 corresponds to the first character.
    - Index 1 corresponds to the second character, and so on.
      
- **Negative Indexing** - Negative indexing starts from -1 for the last character and goes up to -n for the first character.
    - Index -1 corresponds to the last character.
    - Index -2 corresponds to the second last character, and so on.
      
- **Accessing Substrings** - You can also use slicing to access substrings. The syntax for slicing is `string[start:stop:step]` , where:
    - start is the starting index (inclusive).
    - stop is the ending index (exclusive).
    - step is the step size (optional).

#### Examples -

In [99]:
string = "I had a great trip to ibizza"

 Extract first element from the string

In [100]:
string[0] # indexing - first element starts at 0

'I'

 Extract 5th element from the string

In [101]:
string[4] # indexing - fifth element starts at 4

'd'

 Ex. Extract last element from the string

In [102]:
string[-1] # negative indexing - last element starts at -1

'a'

 Ex. Extract first 3 characters from string

In [103]:
string[0:3] # slicing - start index is 0 and end index is 3 (exclusive)

'I h'

 Ex. Extract all characters from index position 3

In [ ]:
string[3 : ] # slicing - start index is 3 and end index is not specified, so it will go till the end of the string

'ad a great trip to ibizza'

 Ex. Extract last 4 characters from the string

In [106]:
string[-4 :]

'izza'

 Ex. Reverse of string

In [108]:
string[::-1] # [::-1] is syntax to reverse any ordered sequence in Python

'azzibi ot pirt taerg a dah I'

In [114]:
string[ : : -2]

'azb tpr ar  a '

##### Strings are immutable and cannot be modified

In [ ]:
string = "abcd"
string[0] = "x" # This will give an error because strings are immutable in Python, 
                # we cannot change the value of a specific index in a string.

TypeError: 'str' object does not support item assignment

In [117]:
"x" + string[1:]

'xbcd'

#### Common String Methods

<table style="width: 80%; border-collapse: collapse; border: 1px solid #ccc; text-align: left; margin-left: 0;">
  <thead>
    <tr style="background-color: #050A30; color: white;">
      <th style="width: 15%; border: 1px solid #ccc;">Name</th>
      <th style="width: 40%; border: 1px solid #ccc;">Description</th>
      <th style="border: 1px solid #ccc;">Example</th>
    </tr>
  </thead>
  <tbody style="background-color: white;">
    <tr>
      <td style="border: 1px solid #ccc;"><strong>lower()</strong></td>
      <td style="border: 1px solid #ccc;">Converts all characters in the string to lowercase.</td>
      <td style="border: 1px solid #ccc;"><code>"HELLO".lower()  # 'hello'</code></td>
    </tr>
    <tr>
      <td style="border: 1px solid #ccc;"><strong>upper()</strong></td>
      <td style="border: 1px solid #ccc;">Converts all characters in the string to uppercase.</td>
      <td style="border: 1px solid #ccc;"><code>"hello".upper()  # 'HELLO'</code></td>
    </tr>
    <tr>
      <td style="border: 1px solid #ccc;"><strong>strip()</strong></td>
      <td style="border: 1px solid #ccc;">Removes leading and trailing whitespace from the string.</td>
      <td style="border: 1px solid #ccc;"><code>"  hello  ".strip()  # 'hello'</code></td>
    </tr>
    <tr>
      <td style="border: 1px solid #ccc;"><strong>replace()</strong></td>
      <td style="border: 1px solid #ccc;">Replaces a specified substring with another substring.</td>
      <td style="border: 1px solid #ccc;"><code>"apple".replace("a", "A")  # 'Apple'</code></td>
    </tr>
    <tr>
      <td style="border: 1px solid #ccc;"><strong>split()</strong></td>
      <td style="border: 1px solid #ccc;">Splits the string into a list using a specified separator.</td>
      <td style="border: 1px solid #ccc;"><code>"a,b,c".split(",")  # ['a', 'b', 'c']</code></td>
    </tr>
    <tr>
      <td style="border: 1px solid #ccc;"><strong>join()</strong></td>
      <td style="border: 1px solid #ccc;">Joins elements of an iterable into a single string using a separator.</td>
      <td style="border: 1px solid #ccc;"><code>"-".join(['a', 'b', 'c'])  # 'a-b-c'</code></td>
    </tr>
    <tr>
      <td style="border: 1px solid #ccc;"><strong>find()</strong></td>
      <td style="border: 1px solid #ccc;">Returns the index of the first occurrence of a substring. Returns -1 if not found.</td>
      <td style="border: 1px solid #ccc;"><code>"hello".find("e")  # 1</code></td>
    </tr>
    <tr>
      <td style="border: 1px solid #ccc;"><strong>startswith()</strong></td>
      <td style="border: 1px solid #ccc;">Checks if the string starts with the specified prefix.</td>
      <td style="border: 1px solid #ccc;"><code>"hello".startswith("he")  # True</code></td>
    </tr>
    <tr>
      <td style="border: 1px solid #ccc;"><strong>endswith()</strong></td>
      <td style="border: 1px solid #ccc;">Checks if the string ends with the specified suffix.</td>
      <td style="border: 1px solid #ccc;"><code>"hello".endswith("lo")  # True</code></td>
    </tr>
    <tr>
      <td style="border: 1px solid #ccc;"><strong>isalpha()</strong></td>
      <td style="border: 1px solid #ccc;">Returns True if all characters in the string are alphabetic.</td>
      <td style="border: 1px solid #ccc;"><code>"abc".isalpha()  # True</code></td>
    </tr>
    <tr>
      <td style="border: 1px solid #ccc;"><strong>isdigit()</strong></td>
      <td style="border: 1px solid #ccc;">Returns True if all characters in the string are digits.</td>
      <td style="border: 1px solid #ccc;"><code>"123".isdigit()  # True</code></td>
    </tr>
    <tr>
      <td style="border: 1px solid #ccc;"><strong>title()</strong></td>
      <td style="border: 1px solid #ccc;">Converts the first character of each word to uppercase.</td>
      <td style="border: 1px solid #ccc;"><code>"hello world".title()  # 'Hello World'</code></td>
    </tr>
  </tbody>
</table>

In [118]:
print(dir(str))

['__add__', '__class__', '__contains__', '__delattr__', '__dir__', '__doc__', '__eq__', '__format__', '__ge__', '__getattribute__', '__getitem__', '__getnewargs__', '__getstate__', '__gt__', '__hash__', '__init__', '__init_subclass__', '__iter__', '__le__', '__len__', '__lt__', '__mod__', '__mul__', '__ne__', '__new__', '__reduce__', '__reduce_ex__', '__repr__', '__rmod__', '__rmul__', '__setattr__', '__sizeof__', '__str__', '__subclasshook__', 'capitalize', 'casefold', 'center', 'count', 'encode', 'endswith', 'expandtabs', 'find', 'format', 'format_map', 'index', 'isalnum', 'isalpha', 'isascii', 'isdecimal', 'isdigit', 'isidentifier', 'islower', 'isnumeric', 'isprintable', 'isspace', 'istitle', 'isupper', 'join', 'ljust', 'lower', 'lstrip', 'maketrans', 'partition', 'removeprefix', 'removesuffix', 'replace', 'rfind', 'rindex', 'rjust', 'rpartition', 'rsplit', 'rstrip', 'split', 'splitlines', 'startswith', 'strip', 'swapcase', 'title', 'translate', 'upper', 'zfill']

#### Examples -

 Ex. WAP to convert the given string - 

<p><strong><span style="color: rgb(41, 105, 176);">string = "I am in Python class"</span></strong></p>
<p><strong>o/p -</strong> 'ssalc nohtyP ni ma I'</p>
<p><strong>o/p -</strong> 'I Am In Python Class'</p>

In [119]:
string = "I am in Python class"
string[::-1]

'ssalc nohtyP ni ma I'

In [120]:
string.title()

'I Am In Python Class'

 Ex. WAP to swap the first and last character of a string entered by user

In [122]:
word = input("Enter a word: ")
# Expected output: If the user enters "hello", the output should be "oellh"
word[-1] + word[1:-1] + word[0]

'oellh'

 Ex. WAP to replace all vowels in a word with and asterisk.

In [ ]:
word = input("Enter a word: ")
for ch in "aeiou" :
   word = word.replace(ch, "*") 
print(word)
# expected output: If the user enters "singapore", the output should be "s*ng*p*r*"

s*ng*p*r*

In [ ]:
strg = "singapore"
strg.replace("a", "*") # returns a new strg object

'sing*pore'

 Ex. WAP to convert the string value to int

<hr><hr>

### Understanding applications of Tuples in Python

#### Examples -

In [ ]:
fam = ("Rosie", 34, "Sam", 36, "Jonnah", 15, "Jessie", 12)

 Ex. Extract 1st element from tuple -

 Ex. Extract last element from tuple -

 Ex. Extract first 3 elements from tuple -

 Ex. Extract last 2 element from tuple -

 Ex. Extract "True" from the given Tuple

 Ex. WAP to reverse the tuple

 Ex. Define a single valued Tuple

#### Packing/Unpacking of Tuples - 

**What is Tuple Packing?**
- **Packing** refers to combining multiple values into a single tuple.
- Python automatically packs values into a tuple when they are assigned together.

**Example:**

In [ ]:
person = "Alice", 30, "Engineer"  # Packing

**What is Tuple Unpacking?**
- **Unpacking** is the process of extracting values from a tuple and assigning them to individual variables in a single statement.
- This improves **readability** and **convenience** when working with grouped data.

**Example:**

In [ ]:
name, age, profession = person  # Unpacking
print(name)       # Output: Alice
print(age)        # Output: 30
print(profession) # Output: Engineer

##### Notes:
- The number of variables on the left must match the number of elements in the tuple.
- You can use `*` to collect multiple values into a list during unpacking.

#### Applications of packing/unpacking of tuples -

**1. Defining multiple variables in a single line**

**2. Assigning multiple values to a single variable**

 Ex. Calculating Final Rating from a Tuple of Ratings

You are given a tuple named ratings that contains audience ratings for a training course. Each element in the tuple represents a score (out of 5) for different aspects of the course. The first element in the tuple refers to the trainer's rating. The remaining elements represent ratings for various platform-related aspects such as: Labs, Hardware, Duration, Other infrastructure or support features

To calculate the final rating:

- Add the trainer rating (first element).
- Compute the average of the remaining ratings.
- Add both values to get the final rating.

In [ ]:
ratings = (4.5, 4.9, 3.4, 4, 4.3)

In [ ]:
ratings = ((4.5, 4.9, 3.4, 4, 4.3), (4.7, 4.3, 3.9, 4, 4.3), (4.8, 4.1, 4, 4, 4.3), (4.7, 4.3, 4.4, 4, 3.3))

**3. Function returning multiple values**

**4. for-loop with multiple variables**

 Ex. Calculating Total Defect Percentage for Product Batches

You are given a list of tuples, where each sub-tuple represents a batch of products. Each sub-tuple contains three integers, representing defect counts in three different categories. The goal is to calculate the total defect percentage for each batch.

The output should display:
- The batch number
- The total number of defects
- The defect percentage for that batch

In [ ]:
# Sample data: each sub-tuple contains defect counts in three categories for a batch of products
defect_data = (
    (5, 3, 2),  # Batch 1
    (1, 4, 0),  # Batch 2
    (7, 6, 3),  # Batch 3
    (2, 1, 1)   # Batch 4
)

# Total number of products in each batch
total_products_per_batch = 80

**`Utility Function` - enumerate(`seq`, `start = 0`)**
- The enumerate function in Python is a built-in utility that simplifies working with iterable objects (like lists, tuples, strings, etc.) by providing an automatic counter along with the elements of the iterable.
- It's commonly used in loops when both the index/counter and the element of an iterable are needed.
- Adds Counter to Iterables: It returns a tuple containing the index (starting from 0 by default) and the corresponding item from the iterable.
- Custom Start Counter: You can specify the starting counter by passing a second argument.
##### Note - enumerate object is not readable when printed. But can be iterated using for-loop or can be converted to a list/tuple

In [ ]:
lst = ["Jane", "Jack", "Rosie", "Diana"]

In [ ]:
# example of unpacking of tuples

In [ ]:
# Application of for-loop and enumerate in visualisation - annotations

In [ ]:
import matplotlib.pyplot as plt
plt.figure(figsize = (6, 2))
products = ["P1", "P2", "P3", "P4", "P5"]
sales = [6000, 3000, 4000, 5000, 8000]

**Syntax to install any third-party library-**

In [ ]:
# in jupyter - 
!pip install matplotlib

In [ ]:
# int Terminal window
pip install matplotlib

<hr><hr>

### Lists in Python

#### Examples on creating and modifying lists

In [ ]:
friends = [ 'Ross', 'Monica', 'Joey', 'Chandler']

**lst.append(`object`)** 
- appends element to the end of the list

 Ex. Append 'Phoebe' to the end of the list

**lst.insert(`index`,`object`)** 
- inserts element at the mentioned index location

 Ex. Insert 'Rachel' at index position 4

**lst.extend(`seq-obj`)** 
- always take a sequnce as parameter, appends all the elements from sequence to end of the list.

 Ex. Extend tuple of new_friends to the end of the friends list

In [ ]:
new_friends = ("Jack", "Jane", "Jasmine", "Rosie")

**lst.pop()** 
- deletes the last element from the list

**lst.pop(`index`)**
- deletes the element at the mentioned `index-value` from the list

**lst.remove(`obj`)** 
- removes the mention `obj` from the list

#### Examples -

 Ex. Write a program to manage a to-do list. 
- Accept 3 tasks from the user and add them to the list.
- Create a function that adds a new task to the list and displays the updated list.
- Create a function that displays all tasks with their respective numbers, allows the user to delete a task by entering its number, and then displays the updated list.

In [ ]:
# Initialise the list

In [ ]:
# Create a function that displays all tasks with their respective numbers,

In [ ]:
# Create a function that adds a new task to the list and displays the updated list.

In [ ]:
# Create a function that allows the user to delete a task by entering its number, and then displays the updated list.

 Ex. Write a program to combine two lists, one containing product names and the other containing sales figures, to generate a consolidated report.

In [ ]:
# Lists containing product names and their corresponding sales figures
products = ["Laptop", "Smartphone", "Headphones", "Keyboard"]
sales = [150, 300, 120, 90]

**`Utility Function` - zip(`list1`, `list2`, ...)**
- the zip() function is used to combine multiple iterables (such as lists, tuples, or strings) into a single iterable of tuples.
- Each tuple contains elements from the input iterables at corresponding positions.
- It effectively "zips" together the elements from the provided iterables, creating pairs (or n-tuples) of elements.

### Creating a copy of a list 
#### (Shallow copying and Deep Copying)

- Assignment statements create bindings between a target and an object, rather than copying objects.
- The `=` operator does not create a new object; it only creates a new variable that shares the reference of the original object.
- To work with mutable objects, users may need to create "real copies" or "clones" of these objects.
- Creating copies allows users to modify them without affecting the original object.

#### Shallow Copy

In [ ]:
lst1 = [2, 8, ["Jane", "Thomas", "Jack"]]

#### Deep Copy

In [ ]:
import copy
lst1 = [2, 8, ("Jane", "Thomas", "Jack")]

<hr><hr>

### Sets in Python

#### Examples on working on set

In [ ]:
s = {10, 20, 30, 40, 50}
print(s)

**set.add(`obj`)**
- adds a new element to the set

In [ ]:
s.add("abcd")
print(s)

**set.update(`seq`)**
- takes a sequence object as a parameter and adds all the elemnts from the sequence to the set

In [ ]:
s.update([1, 2, 3, 4])
print(s)

**pop()**
- removes a random element from the set

In [ ]:
s.pop()
print(s)

**remove(`obj`)**
- removes a specified elemnt from the set, givevs error if the element is not present in the set

In [ ]:
s.remove("abcd")
print(s)

**discard(`obj`)**
- removes the specified element from the set, it will not give any error if element is not present.

In [ ]:
s.remove("abcd")
print(s)

In [ ]:
s.discard("abcd")
print(s)

#### Set Operations - Union | Intersection | Difference | Symmetric Difference

In [ ]:
set1 = {1, 2, 3, 4, 5}
set2 = {4, 5, 6, 7, 8}

In [ ]:
set1 | set2 # union
set1.union(set2)

In [ ]:
set1 & set2 # intersection
set1.intersection(set2)

In [ ]:
set1 ^ set2
set1.symmetric_difference(set2)

In [ ]:
set1 - set2
set1.difference(set2)

#### Disjoint set
- if the two sets have no common elements

In [ ]:
set1 = {1, 2, 3, 4, 5}
set2 = {6, 7, 8, 9, 10}

set1.isdisjoint(set2)

#### Subset | Superset

- If all elemenets of set1 are present in set2 then, 
    - set1 is subset of set2
    - set2 will be superset of set1

In [ ]:
set1 = {1, 2, 3, 4, 5}
set2 = {1, 2, 3, 4, 5, 6, 7, 8, 9, 10}

set1.issubset(set2)

In [ ]:
set2.issuperset(set1)

#### Examples -

 Set of members drinking tea and coffee

In [ ]:
drinks_coffee = {"Jane", "Jack", "Sam", "George", "Dori"}

drinks_tea = {"Jack", "Frank", "Cody", "Dori", "Bill"}

 Ex. Are there any members who drink tea and coffee both? (Yes/No). If `Yes` then, display their names.

 Ex. Does all the members who drink tea also drink coffee? (Yes/No). If `No` then, display the names of members who drink only tea but not coffee.

 Ex. WAP to check if password entered by user is satisfying following condions or not -
1. length of password must be >= 8
2. username and password must not be same
3. Password must contain atleast 1 digit, 1 capital alphabet, 1 small alphabet and 1 special character like "!@#$%^&*"

**all(`seq`)** 
- The all() function returns True if all elements in the iterable are true (or if the iterable is empty). Otherwise, it returns False.
  
**any(`seq`)** 
- The any() function returns True if at least one element in the iterable is true. If all elements are false (or if the iterable is empty), it returns False.

<hr><hr>

### Dictionary in Python

 Ex. Create a dictionary consisting of country names and their currencies

In [ ]:
country_currency = { "United States": "USD", "United Kingdom": "GBP", "India": "INR", "Australia": "AUD"}

 Ex. Print currency for "India"

**dict.get(`keyname`, `value`)**
- keyname -	Required. The keyname of the item you want to return the value from <br>
- value -	Optional. A value to return if the specified key does not exist. Default value None

#### Examples -

 Ex. Develop a Python program to manage the inventory of a retail store using a dictionary.
- Initialize an inventory dictionary with product names as keys and quantities as values.
- Create a function to add a new product to the inventory:
    - If the product already exists, update its quantity.
    - If the product does not exist, add it to the inventory.
    - Display a message indicating the addition of the product and its quantity.
- Create a function to display the current inventory:
    - Iterate through the dictionary and print each product's name and quantity.

- Create a function to remove a product from the inventory:
    - If the product exists, remove it from the inventory.
    - Display a message indicating the removal of the product.
    - If the product does not exist, display a message indicating its absence.

In [ ]:
# Initialize an inventory dictionary with product names as keys and quantities as values.
inventory = {"Laptop": 15, "Smartphone": 25, "Tablet": 10, "Headphones": 30, "Charger": 50}

 Ex. WAP to create a dictionary combining the following two lists where name is key and marks as value

In [ ]:
names = ['Jane', 'Rosie', 'Mary', 'Sam', 'George']
salary = [70000, 90000, 40000, 55000, 76000]

<hr><hr>

## Comprehensions in Python

- A **`comprehension`** is a concise and readable way to create and manipulate collections such as lists, dictionaries, and sets.
- Comprehensions provide a compact syntax to generate new sequences by applying an expression to each item in an existing sequence or iterable.
- Syntax - `[<expression> for <var> in <sequence> if <condition>]`
- The steps to work on a comprehension:
    1. Identify the iterable or sequence.
    2. Determine any conditions or filters.
    3. Define the expression or operation to apply.
    4. Specify the target mutable data structure.
- Note - Do not work with while loop, break and continue statements

 Ex. WAP to generate a list of squares of number in range of 1-10

 Ex. WAP to create a list of squares of even number in range of 1-10

 Ex. WAP to create a dict of number from 1-10 as keys and their squares as values

 Ex. WAP to create a dict of number from 1-5 as keys and their type as even/odd as value

#### Examples -

 Ex. WAP to add 7% service tax to all the values in the "sales" list

In [ ]:
sales = [290, 500, 800, 650]

 Ex. WAP to sum all the values in the "sales" tuple

In [ ]:
sales = ("$290", "$500", "$800", "$650")

 Ex. Data Cleaning - Normalize product names in a dataset.

In [ ]:
# List of product names with inconsistent capitalization
products = ["  Apple  ", "banana", "CHERRY ", "Date"]

 Ex. Identify products with low stock levels.

In [ ]:
inventory = {"apple": 50, "banana": 10, "cherry": 75, "date": 5}

In [ ]:
# Extract list of product names

 Ex. Calculate the average performance score of employees.

In [ ]:
performance = { "John": [85, 90, 78], "Jane": [92, 88, 95], "Alice": [80, 85, 87]}

 Ex. Calculate the percentage change in stock prices.

In [ ]:
# List of stock prices over time - ((new-old) / old) * 100
stock_prices = [95, 105, 118, 112, 120]

<hr><hr>

## Module 3: Functions in Python

### Function Arguments
Function arguments in Python are the inputs passed to a function to enable it to perform its intended operation.

#### **Types of Function Arguments**

1. **Positional Arguments**  
   - These are the most common type.
   - Passed in order, matching the function's parameters.

2. **Default Arguments**  
   - Predefined values are set; they are optional while calling the function.

3. **Keyword Arguments**  
   - Arguments passed with the name of the parameter explicitly.
   - Useful for clarity and flexibility in function calls.

4. **Variable-Length Arguments**
   - **`*args` (Non-Keyword Arguments):** Allows passing a variable number of arguments as a tuple.
     ```
   - **`**kwargs` (Keyword Arguments):** Allows passing variable keyword arguments as a dictionary.

**Key Notes**
- **Order Matters:** Positional arguments must precede keyword arguments.
- **Packing/Unpacking:** `*` and `**` are used to pack or unpack arguments, making functions more versatile.
- **Default vs Non-Default:** Non-default arguments must come first when defining functions.

#### Significance of `/` and `*` in function definition

- **`/`** - All the arguments before `/` must be position only
- **`*`** - All the arguments after `*` must be key-word only

In [ ]:
def demo(name, age) :
     print(f"Name - {name} | Age - {age}")

demo("Jane", 20)  # Both position only
demo(name = "Jane", age = 20) # Both key-word
demo("Jane", age = 30)  # name - position and age - key-word

In [ ]:
def demo(name, *, age) :
     print(f"Name - {name} | Age - {age}")

demo("Jane", age = 30)  # 
demo(name = "Jane", age = 20) # 
demo("Jane", 20)  #

In [ ]:
def demo(name, /, age) :
     print(f"Name - {name} | Age - {age}")

demo("Jane", 20)  # 
demo("Jane", age = 30)  # 
demo(name = "Jane", age = 20) #

### Variable Scope

- A namespace is a Container where names are mapped to variables 
- A scope defines the hierarchical order in which the namespaces need to be 
- searched in order to obtain the name-to-object mapping 
- Scope defined the accessibility and lifetime of a variable

#### The LEGB rule 
`The LEGB` rule decides the order in which the namespaces are to be searched for variable scoping 

Variable scope hierarchy: 

1. Built-ln (B): Reserved names in Python 
2. Global Variable (G): Defined at the uppermost level 
3. Enclosed (E): Defined inside enclosing or nested functions 
4. Local Variable (L): Defined inside a function

## Lambda Function

- A lambda function in Python is a small, anonymous function defined using the keyword lambda.
-  Unlike a regular function defined with the def keyword, a lambda function can have any number of parameters, but it can only have a single expression.
-  It's often used for short, throwaway functions that are defined inline.
- Syntax of Lambda Function â€“ 

  <b>lambda *parameters* : *expression*</b>

 Write a lambda function to return addition of 2 numbers

 Write a lambda function to return square of the number

 Write a lambda function to return the last character of a string passed as an argument

### Function Object

- In Python, a function object refers to the fact that functions are first-class citizensâ€”they are treated like any other object.
- This means: A function object is an instance of the built-in function class created when a def statement or a lambda expression is executed.
- A function object can be:
    - Pass it to other functions,    
    - Assign it to variables,    
    - Store in data structures,    
    - Return it from another function.

#### function definition/implemenation

In [ ]:
def func(a, b):  # -> function definition
    if a < b :
        return a
    else:
        return b

#### function call

In [ ]:
# function call

#### function object

In [ ]:
# function object

##### Note 
- Lambda key word generates a function object, which can be stored in a varible and that function can be executed
- Any function - lambda, user defined normal function and any built-in function

### Applilcations of Function Object

 Ex. WAP to sort a list of strings as per the last character.

In [ ]:
names = ["flight", "bike", "car",  "train"]

 Ex. WAP to sort the list of tuples by sum of each subtuple

In [ ]:
students_marks = [(13, 19, 15), (20, 12, 18), (16, 11, 14), (16, 20, 13), (15, 10, 19)]

 Ex. WAP to display the student details in sorted order of their marks.

In [ ]:
students = {"Jane" : 40, "Max" : 50, "Sam" : 45, "Mary" : 70}

##### Note - 
- There are many functions like sorted which take function object as an argument. 
- Use a built-in function if available, else defined a custom function. 
- If the logic for custom function is one-liner use lambda function else use standard user-defined function

### Utility Functions -  map(), filter()

#### map(func_obj, sequence)
- func_obj :Â It is a function object to which map passes each element of given sequence.
- sequence :Â It is a sequence which is to be mapped.
- ReturnsÂ  a sequence of the results after applying the given function

to each item of a given iterable.

 Ex. WAP to map the given list to list of squares

In [ ]:
lst = [1, 2, 3, 4, 5]

 Ex. WAP to generate a list of square roots of the given list using map

In [ ]:
import math
squares = [1, 4, 9, 16, 25]

 Ex. WAP to find sum of marks for each student

In [ ]:
students_marks = [(13, 19, 15), (20, 12, 18), (16, 11, 14), (16, 20, 13), (15, 10, 19)]

 Ex. WAP to find percentage of marks for each student

In [ ]:
students_marks = [(13, 19, 15), (20, 12, 18), (16, 11, 14), (16, 20, 13), (15, 10, 19)]

 Ex. WAP to accept numbers from user in comma seperated format. Extract the integers and perform their summation

In [ ]:
data = input("Enter numbers in comma seperated formart - ")
# Assuming valid inputs -

#### filter(func_obj, sequence)
- func_obj :Â function that tests if each element of a sequence true or not. It should always be a Boolean function.
- sequence :Â It is a sequence which is to be filtered.
- ReturnsÂ a sequence of filtered elements.

 Ex. WAP to filter all the even numbers from the given list of numbers.

In [ ]:
lst = [1, 2, 3, 4, 5]

 Ex. WAP to extract all alphabets from a string (using filter)

In [ ]:
strg = "a1b2c3d4"

In [ ]:
strg = "a1b2c3d4"
# passing a method as a function object

## Decorators
- Decorators in Python are a powerful and flexible way to modify or enhance the behavior of functions or classes without altering their actual code.
- Essentially, decorators are functions that wrap another function or method, allowing you to execute code before or after the wrapped function runs.
- Basic Syntax - A decorator is denoted with the @ symbol followed by the decorator function name, and it is placed on the line directly above the function to be decorated.

**Application** - outer function performs pre-processing and generate some data or object and inner function can be used to apply filter conditions

<hr><hr>

# Exception Handling

It may be convenient to recognize the problems in your python code before you put it to real use. But that does not always happen. Sometimes, problems show up when you run the code; sometimes, midway of that. A Python exception is an error that's detected during execution. 

##### Python does not provide any compile time Exception Handling. Developer has to proactively recognize the need for exception handling.

- What are Errors and Exceptions
- Handling Exceptions
- Defining Clean-up Actions
- Predefined Clean-up Actions
- Raising Exceptions

### Syntax Error

In [ ]:
for i in range(5) 
   print(i)

In [ ]:
for i in range(5) :
print(i)

### Exception 
Even if a statement or expression is syntactically correct, it may cause an error when an attempt is made to execute it. Errors detected during execution are called exceptions and are not unconditionally fatal

#### ZeroDivisionError

In [ ]:
a, b = 1, 0
print(a/b)

#### ValueError

In [ ]:
int("abcd")

#### NameError

In [ ]:
print(z)

#### FileNotFoundError

In [ ]:
open("abc.txt")

#### TypeError

In [ ]:
"2" + 2

In [ ]:
def func(a):
    pass

func()

#### IndexError

In [ ]:
l = [1,2,3]
l[10]

#### KeyError

In [ ]:
d = {1:2, 3:4}
d["abc"]

#### ModuleNotFoundError

In [ ]:
import math1

#### AttributeError

In [ ]:
import math
math.sq1()

In [ ]:
string = "abcd"

string.UPPER()

In [ ]:
print(dir(__builtins__))

### Handling Exceptions

#### *try* :

Â  Â  #risky code
    
#### *except <Exception name>*:

    #code to handle error
    
#### *else*:
Â  Â 
    #executed if everything goes fine
    
#### *finally*:
Â  Â 
    #gets executed in either case.

### Rasie an Exception

<hr><hr>

## Module 4: Object Oriented Programming

- `Object-oriented programming` is a programming methdology that provides a means of structuring programs so that properties and behaviors are encapsulated into `individual objects`.

- For instance, an object could represent a person with properties like a name, age, and address and behaviors such as walking, talking, breathing, and running. Or it could represent an email with properties like a recipient list, subject, and body and behaviors like adding attachments and sending.

### Define a Class in Python

- A class definition starts with the `class` keyword, which is followed by the name of the class and a colon. 

- Any code that is indented below the class definition is considered part of the classâ€™s body.

 Ex. Create a class Circle with `radius` as its attribute and `cal_area()` as method

- The attributes that objects must have are defined in a `__init__()`. It is called as `Constructor` of the class.

- Every time a new object is created, `__init__()` sets the initial state of the object by assigning the values of the objectâ€™s properties. 

- `__init__()` initializes each new instance of the class.

- Attributes created in `__init__()` are called **instance attributes**. An instance attributeâ€™s value is specific to a particular instance of the class.
- Instance attributes are always referred using `self`.
- `Instance methods` are functions that are defined inside a class and can only be called from an instance of that class.

 Ex. Define `pi = 3.14` as a class attribute

- A `class attribute` is always defined outside the constructor and always referred using class name.

### Inheritance

- Inheritance allows us to define a class that inherits all the methods and properties from another class.

- Parent class is the class being inherited from, also called base class.

- Child class is the class that inherits from another class, also called derived class.

 Ex. Create parent class `Shape` and `Circle`, `Rectangle`, `Triangle` as its child classes.

 Ex. Define `cal_area()` as abstract method in Shape class.

 Ex. Override `cal_area()` in all child classes of Shape class.

 Ex. Define `color_cost()` method in Shape class. Define **kwargs in constructor of all child classes to set shape color at the time of object creation.

#### Multiple Inheritance and Method Resolution Order

In [ ]:
class A:
    pass
class E:
    pass
class B(A, E):
    pass
class C(A) :
    pass
class D(B, C) :
    pass

<hr><hr>

## Module 5: Regular Expressions

Regular expressions are used for matching text patterns for searching, replacing and parsing text 
with complex patterns of characters.

Regexes are used for four main purposes - 
- To validate if a text meets some criteria; Ex. a zip code with 6 numeric digits 
- Search substrings. Ex. finding texts that ends with abc and does not contain any digits 
- Search & replace everywhere the match is found within a string; Ex. search "fixed deposit" and replace with "term deposit" 
- Split a string at each place the regex matches; Ex. split everywhere a @ is encountered

#### Raw python string

It is recommended that you use raw strings instead of regular Python strings. Raw strings begin with a prefix, r, placed before the quotes

In [ ]:
print("ABC \n PQR")

In [ ]:
print(r"ABC \n PQR")

In [ ]:
open(r"C:\users\newfolder\file.txt")

#### Importing re module

In [ ]:
import re

#### Functions in re Module
The "re" module offers functionalities that allow us to match/search/replace a string 

- `re.match()` - The match only if it occurs at the beginning of the string 
- `re.search()` - First occurrence of the match if there is a match anywhere in the string  
- `re.findall()` - Returns a list containing all matches in the string 
- `re.split()` - Returns a list where the string has been split at each match 
- `re.sub()` - Replaces one or many matches with a string 
- `re.finditer()` - Returns a collectable iterator yielding all non-overlapping matches

In [ ]:
text = "India celebrates its independence day on 15th August"
re.match(r"[A-z]+\b", text)  # returns a match object

In [ ]:
text = "India celebrates its independence day on 15th August"
re.search(r"[0-9]+", text)  # returns a match object

The **Match object** in Python's `re` module provides several useful methods to extract information about the match. It contains details about the match, such as the matched string, its position, and captured groups.

<table style="width: 60%; border-collapse: collapse; border: 1px solid #ccc; text-align: left; margin-left: 0;">
  <thead>
    <tr style="background-color: #050A30; color: white;">
      <th style="border: 1px solid #ccc; width: 30%">Method</th>
      <th style="border: 1px solid #ccc;">Description</th>
    </tr>
  </thead>
  <tbody style="background-color: white;">
    <tr>
      <td style="border: 1px solid #ccc;"><b>.group([group])</b></td>
      <td style="border: 1px solid #ccc;">Returns the matched string or a specific group if specified.</td>
    </tr>
    <tr>
      <td style="border: 1px solid #ccc;"><b>.groups()</b></td>
      <td style="border: 1px solid #ccc;">Returns a tuple of all captured groups.</td>
    </tr>
    <tr>
      <td style="border: 1px solid #ccc;"><b>.start([group])</b></td>
      <td style="border: 1px solid #ccc;">Returns the start index of the match or a group.</td>
    </tr>
    <tr>
      <td style="border: 1px solid #ccc;"><b>.end([group])</b></td>
      <td style="border: 1px solid #ccc;">Returns the end index of the match or a group.</td>
    </tr>
    <tr>
      <td style="border: 1px solid #ccc;"><b>.span([group])</b></td>
      <td style="border: 1px solid #ccc;">Returns a tuple <code>(start, end)</code> of the match or a group.</td>
    </tr>
    <tr>
      <td style="border: 1px solid #ccc;"><b>.re</b></td>
      <td style="border: 1px solid #ccc;">Returns the regular expression pattern object.</td>
    </tr>
    <tr>
      <td style="border: 1px solid #ccc;"><b>.string</b></td>
      <td style="border: 1px solid #ccc;">Returns the original string searched.</td>
    </tr>
    <tr>
      <td style="border: 1px solid #ccc;"><b>.lastindex</b></td>
      <td style="border: 1px solid #ccc;">Returns the last captured groupâ€™s index.</td>
    </tr>
    <tr>
      <td style="border: 1px solid #ccc;"><b>.lastgroup</b></td>
      <td style="border: 1px solid #ccc;">Returns the last captured groupâ€™s name if named groups are used.</td>
    </tr>
  </tbody>
</table>

In [ ]:
# Example - 

import re

text = "India celebrates its independence day on 15th August and Republic day on 26th January"
match = re.search(r"[0-9]+", text)  # returns a match object

if match:
    print("Matched Text:", match.group())        
    print("Start Position:", match.start())     
    print("End Position:", match.end())         
    print("Span:", match.span())                
else:
    print("No match found.")

### Regular Expression Reference Guide


<table style="width: 80%; border: 1px solid #333; border-collapse: collapse; text-align: left; margin-left: 0;">
  <thead>
    <tr style="background-color: #050A30; color: white;">
                    <th style="width: 20%; border: 1px solid #333; padding: 8px;">Category</th>
                    <th style="width: 15%; border: 1px solid #333; padding: 8px;">Symbol</th>
                    <th style="width: 65%; border: 1px solid #333; padding: 8px;">Description</th>
                </tr>
            </thead>
            <tbody>
                <!-- Basic Characters Section -->
                <tr>
                    <td style="border: 1px solid #333; padding: 8px;" rowspan="3">Basic Characters</td>
                    <td style="border: 1px solid #333; padding: 8px;">^</td>
                    <td style="border: 1px solid #333; padding: 8px;">Matches the expression to its right at the start of a string.</td>
                </tr>
                <tr>
                    <td style="border: 1px solid #333; padding: 8px;">$</td>
                    <td style="border: 1px solid #333; padding: 8px;">Matches the expression to its left at the end of a string.</td>
                </tr>
                <tr>
                    <td style="border: 1px solid #333; padding: 8px;">p|q</td>
                    <td style="border: 1px solid #333; padding: 8px;">Matches expression p or q.</td>
                </tr>                
                <!-- Character Classes Section -->
                <tr>
                    <td style="border: 1px solid #333; padding: 8px;" rowspan="12">Character Classes</td>
                    <td style="border: 1px solid #333; padding: 8px;">\w</td>
                    <td style="border: 1px solid #333; padding: 8px;">Matches alphanumeric characters: a-z, A-Z, 0-9 and _</td>
                </tr>
                <tr>
                    <td style="border: 1px solid #333; padding: 8px;">\W</td>
                    <td style="border: 1px solid #333; padding: 8px;">Matches non-alphanumeric characters.</td>
                </tr>
                <tr>
                    <td style="border: 1px solid #333; padding: 8px;">\d</td>
                    <td style="border: 1px solid #333; padding: 8px;">Matches digits: 0-9</td>
                </tr>
                <tr>
                    <td style="border: 1px solid #333; padding: 8px;">\D</td>
                    <td style="border: 1px solid #333; padding: 8px;">Matches any non-digits.</td>
                </tr>
                <tr>
                    <td style="border: 1px solid #333; padding: 8px;">\s</td>
                    <td style="border: 1px solid #333; padding: 8px;">Matches whitespace characters: \t, \n, \r, and space.</td>
                </tr>
                <tr>
                    <td style="border: 1px solid #333; padding: 8px;">\S</td>
                    <td style="border: 1px solid #333; padding: 8px;">Matches non-whitespace characters.</td>
                </tr>
                <tr>
                    <td style="border: 1px solid #333; padding: 8px;">\A</td>
                    <td style="border: 1px solid #333; padding: 8px;">Matches at the absolute start of a string.</td>
                </tr>
                <tr>
                    <td style="border: 1px solid #333; padding: 8px;">\t</td>
                    <td style="border: 1px solid #333; padding: 8px;">Matches a tab character.</td>
                </tr>
                <tr>
                    <td style="border: 1px solid #333; padding: 8px;">\Z</td>
                    <td style="border: 1px solid #333; padding: 8px;">Matches at the absolute end of a string.</td>
                </tr>
                <tr>
                    <td style="border: 1px solid #333; padding: 8px;">\n</td>
                    <td style="border: 1px solid #333; padding: 8px;">Matches a newline character.</td>
                </tr>
                <tr>
                    <td style="border: 1px solid #333; padding: 8px;">\b</td>
                    <td style="border: 1px solid #333; padding: 8px;">Matches word boundary at the start or end of a word.</td>
                </tr>
                <tr>
                    <td style="border: 1px solid #333; padding: 8px;">\B</td>
                    <td style="border: 1px solid #333; padding: 8px;">Matches non-word boundary.</td>
                </tr>                
                <!-- Groups and Sets Section -->
                <tr>
                    <td style="border: 1px solid #333; padding: 8px;" rowspan="8">Groups and Sets</td>
                    <td style="border: 1px solid #333; padding: 8px;">[abc]</td>
                    <td style="border: 1px solid #333; padding: 8px;">Matches either a, b, or c.</td>
                </tr>
                <tr>
                    <td style="border: 1px solid #333; padding: 8px;">[a\-z]</td>
                    <td style="border: 1px solid #333; padding: 8px;">Matches a, -, or z.</td>
                </tr>
                <tr>
                    <td style="border: 1px solid #333; padding: 8px;">[^abc]</td>
                    <td style="border: 1px solid #333; padding: 8px;">Matches any character except a, b, or c.</td>
                </tr>
                <tr>
                    <td style="border: 1px solid #333; padding: 8px;">()</td>
                    <td style="border: 1px solid #333; padding: 8px;">Groups expressions inside parentheses.</td>
                </tr>
                <tr>
                    <td style="border: 1px solid #333; padding: 8px;">[a-z]</td>
                    <td style="border: 1px solid #333; padding: 8px;">Matches any lowercase alphabet.</td>
                </tr>
                <tr>
                    <td style="border: 1px solid #333; padding: 8px;">[a-z0-9]</td>
                    <td style="border: 1px solid #333; padding: 8px;">Matches lowercase alphabets and digits.</td>
                </tr>
                <tr>
                    <td style="border: 1px solid #333; padding: 8px;">[(+*)]</td>
                    <td style="border: 1px solid #333; padding: 8px;">Matches literal characters (, +, *, and ).</td>
                </tr>
                <tr>
                    <td style="border: 1px solid #333; padding: 8px;">(?P=name)</td>
                    <td style="border: 1px solid #333; padding: 8px;">Matches the expression matched by a named group.</td>
                </tr>                
                <!-- Quantifiers Section -->
                <tr>
                    <td style="border: 1px solid #333; padding: 8px;" rowspan="8">Quantifiers</td>
                    <td style="border: 1px solid #333; padding: 8px;">.</td>
                    <td style="border: 1px solid #333; padding: 8px;">Matches any character except newline.</td>
                </tr>
                <tr>
                    <td style="border: 1px solid #333; padding: 8px;">?</td>
                    <td style="border: 1px solid #333; padding: 8px;">Matches 0 or 1 occurrence of the expression to its left.</td>
                </tr>
                <tr>
                    <td style="border: 1px solid #333; padding: 8px;">{n}</td>
                    <td style="border: 1px solid #333; padding: 8px;">Matches exactly n occurrences.</td>
                </tr>
                <tr>
                    <td style="border: 1px solid #333; padding: 8px;">{,m}</td>
                    <td style="border: 1px solid #333; padding: 8px;">Matches up to m occurrences.</td>
                </tr>
                <tr>
                    <td style="border: 1px solid #333; padding: 8px;">*</td>
                    <td style="border: 1px solid #333; padding: 8px;">Matches 0 or more occurrences.</td>
                </tr>
                <tr>
                    <td style="border: 1px solid #333; padding: 8px;">+</td>
                    <td style="border: 1px solid #333; padding: 8px;">Matches 1 or more occurrences.</td>
                </tr>
                <tr>
                    <td style="border: 1px solid #333; padding: 8px;">{n,m}</td>
                    <td style="border: 1px solid #333; padding: 8px;">Matches between n and m occurrences.</td>
                </tr>
                <tr>
                    <td style="border: 1px solid #333; padding: 8px;">{n, }</td>
                    <td style="border: 1px solid #333; padding: 8px;">Matches n or more occurrences.</td>
                </tr>
            </tbody>
        </table>

#### Examples -

 Ex. Extract all digits from the text

In [ ]:
text = "The stock price was 456 yesterday. Today, it rose to 564"

 Ex. Extract all numbers from the text

In [ ]:
text = "The stock price was 456 yesterday. Today, it rose to 564"

 Ex. Retrive the dividend from the text

In [ ]:
text = "On 25th March, the company declared 17% dividend."

 Ex. Retrieve all uppercase characters

In [ ]:
text = "Stocks like AAPL GOOGL BMW are the preferred ones"

 Ex. Retrive all stock names

In [ ]:
text = "Stocks like AAPL GOOGL BMW are the preferred ones"

 Ex. Retrieve the phone numbers with country code only

In [ ]:
text = "My number is 65-11223344 and 65-91919191. My other number is 44332211"

 Ex. Retrieve the phone numbers with or without country code

In [ ]:
text = "My number is 65-11223344 and 65-91919191. My other number is 44332211"

 Ex. Retrieve the phone numbers without country code

In [ ]:
text = "My number is 65-11223344 and 65-91919191. My other number is 44332211"

 Ex. Retrieve the zip codes with 2 alphabets in the beginning

In [ ]:
text = "The zipcodes are AB4567, TX23A3, 310120, NY1210, 734001 "

 Ex. Replace values as given in the dict

In [ ]:
text = "Stocks like AAPL GOOGL BMW are the preferred ones"
repl_dict = {"AAPL": "APPLE", "GOOGL": "GOOGLE"}

<hr><hr>

## Module 6: Handling data from external sources

#### Introduction to OS module

In [ ]:
import os

### DataBase Source

In [ ]:
!pip install SQLAlchemy
!pip install pymysql
!pip install cx_oracle

- Syntax - dialect+driver://username:password@host:port/database
            
- Mysql - "mysql+pymysql://root:1234@localhost:3306/onlineshopping"
- Oracle - "oracle+cx_oracle://s:t@dsn"

#### Data Connection

In [ ]:
from sqlalchemy import create_engine, text
engine = create_engine("sqlite:///employee.sqlite3") # Creates a new file if not present
conn = engine.connect()

#### Select Clause

In [ ]:
emp = conn.execute(text("select * from Employee")).fetchall() # Extract all the data
emp = conn.execute(text("select * from Employee")).fetchone() # Extract data for 1st emp

#### Insert - Update - Delete

In [ ]:
curr = conn.execute(text("Insert into Employee values (30, 'Jane', 90000, 'Manager', 45)")) # Insert Query
curr

In [ ]:
curr = conn.execute(text("delete from Employee where Name = 'Jane'"))  # Delete Query

In [ ]:
curr = conn.execute(text("select * from Employee"))
curr.keys()  # Return the names of all columns

#### Working with database using pandas library

In [ ]:
import pandas as pd
df = pd.read_sql_table("Employee", conn) # Extract by table name
df.head()

In [ ]:
df = pd.read_sql_query(text("Select * from Employee where Designation = 'Manager'"), conn) # Extract by query
df

#### Data Manipulation using pandas

### HTTPS Requests

In [ ]:
!pip install requests

In [ ]:
import requests

### File Source 

- The key function for working with files in Python is the `open()` function.

- The `open()` function takes two parameters; filename, and mode.

- There are four different methods (modes) for opening a file:

    - "r" - Read - Default value. Opens a file for reading, error if the file does not exist

    - "a" - Append - Opens a file for appending, creates the file if it does not exist

    - "w" - Write - Opens a file for writing, creates the file if it does not exist

 Ex. Read file `customers.txt`

In [ ]:
file = open("customers.txt")

 Ex. Print numbers of lines in the file

 Ex. Clean data read from the file and extract information about all `Pilots`.

 Ex. Create a list of Pilots (HINT - use filter())

 Ex. Create a list of senior citizens from customers

 Ex. Display the list of pilots in ASC of their age (HINT- use sorted() with key as func object)

#### Using `with` keyword to read data and write data

In [ ]:
with open("pilots_details.txt", "w") as file :
    for cust in pilots :
        file.write(f"{cust.name} - {cust.age}yrs \n")

In [ ]:
df.to_excel("emp_details.xlsx", sheet_name="Employee", index=False)

<hr><hr>